<div id="reply-control" class="collapse">
  <form action="{{{discussion.discussionPageUrl}}}" method="post">
    <div class="container-fluid row user-content">
      <div class="submit-panel pull-right btn-toolbar">
        <button class="btn btn-sm btn-danger" type="button" data-toggle="collapse" data-target="#reply-control"><i class="fa fa-close"></i> Cancel</button>
        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-reply"></i> Reply</button>
      </div>
      <textarea name="comment-content" data-provide="markdown" data-iconlibrary="fa" class="col-xs-12" placeholder="Type here using Markdown."></textarea>
    </div>
  </form>
</div>
