<div class="topic-post list-group-item">
  <article>
    <div class="row">
      <div class="topic-avatar col-sm-2">
        <a href="{{{authedUser.userPageUrl}}}">
          <i class="fa fa-user"></i>
        </a>
      </div>
      <div class="topic-body col-sm-10 container-fluid">
        <div class="topic-meta-data row">
          <div class="names pull-left">
            <span>
              <a href="{{{authedUser.userPageUrl}}}" class="username">{{authedUser.name}}</a> <span class="label label-default">{{authedUser.roleName}}</span>
            </span>
          </div>
          <div class="post-info pull-right">
            <a class="post-date">
              <time datetime="" title=""></time>
            </a>
          </div>
        </div>
        <div class="topic-post-contents row">
          <form action="{{{discussion.discussionPageUrl}}}" method="post">
            <div class="container-fluid row user-content">
              <textarea name="comment-content" data-provide="markdown" data-iconlibrary="fa" class="col-xs-12" placeholder="Type here using Markdown." required="required"></textarea>
              <div class="btn-toolbar">
                <a href="/about/Frequently-Asked-Questions"><i class="fa fa-question-circle" title="FAQ"></i></a>
                <a href="https://guides.github.com/features/mastering-markdown/"><i class="octicon octicon-markdown" title="GitHub Flavor Markdown compatible"></i></a>
                <a href="https://www.gnu.org/licenses/fdl-1.3.html"><img src="https://raw.githubusercontent.com/wiki/OpenUserJS/OpenUserJS.org/images/gfdl-logo.min.svg?sanitize=true" alt="GFDL" width="40" height="16"></a>
                <button class="btn-sm btn btn-success pull-right" type="submit" {{^authedUser}}disabled="disabled"{{/authedUser}} title="Submit this comment."><i class="fa fa-reply"></i><span class="hidden-xs"> Submit</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</div>
