<div class="topic-post list-group-item" id="comment-{{id}}">
  <article>
    <div class="row">
      <div class="topic-avatar col-sm-2">
        <a href="{{{author.userPageUrl}}}">
          <i class="fa fa-user"></i>
        </a>
      </div>
      <div class="topic-body col-sm-10 container-fluid">
        <div class="topic-meta-data row">
          <div class="names pull-left">
            <span>
              <a href="{{{author.userPageUrl}}}" class="username">{{author.name}}</a> <span class="label label-default">{{author.roleName}}</span>
            </span>
          </div>
          <div class="post-info pull-right">
            <a href="#comment-{{id}}" class="post-date">
              <time datetime="{{createdISOFormat}}" title="{{created}}">{{createdHumanized}}</time>
            </a>
          </div>
        </div>
        <div class="topic-post-contents row">
          <div class="user-data">
            {{{contentRendered}}}
          </div>
          {{^isUserCommentListPage}}
          <section class="post-menu-area">
            <nav class="post-controls text-right">
              <div class="pull-right" {{^authedUser}} data-toggle="tooltip" data-placement="left" title="You need to be logged in to post!" {{/authedUser}}>
                <button class="btn btn-sm btn-info btn-comment-reply{{^authedUser}} disabled{{/authedUser}}"{{#authedUser}} title="Begin composing a reply to this post."{{/authedUser}}>
                  <i class="fa fa-fw fa-reply"></i> Reply
                </button>
              </div>
             </nav>
          </section>
          {{/isUserCommentListPage}}
        </div>
      </div>
    </div>
  </article>
</div>
