<div class="table-responsive">
<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th class="text-center"><a href="?orderBy=topic&orderDir=asc">Topic</a></th>
      {{#multipleCategories}}
      <th class="text-center td-fit">Category</th>
      {{/multipleCategories}}
      <th class="text-center td-fit">Users</th>
      <th class="text-center td-fit"><a href="?orderBy=comments&orderDir=desc">Posts</a></th>
      <th class="text-center td-fit">Views</th>
      <th class="text-center td-fit"><a href="?orderBy=created&orderDir=desc">Created</a></th>
      <th class="text-center td-fit"><a href="?orderBy=updated&orderDir=desc">Updated</a></th>
    </tr>
  </thead>
  <tbody>
    {{#discussionList}}
    <tr class="tr-link">
      <td>
        <b>
          <a href="{{{discussionPageUrl}}}">{{topic}}</a>
        </b>
      </td>
      {{#multipleCategories}}
      <td class="td-fit">
        <span class="label label-default"><a {{#category.categoryPageUrl}}href="{{{category.categoryPageUrl}}}"{{/category.categoryPageUrl}}>{{category.name}}</a></span>
      </td>
      {{/multipleCategories}}
      <td class="td-fit">
      {{#recentCommentors}}
        <span class="label label-info">{{name}}</span>
      {{/recentCommentors}}
      </td>
      <td class="text-center td-fit">
        <p>{{comments}}</p>
      </td>
      <td class="text-center td-fit">
        <p>?</p>
      </td>
      <td class="text-center td-fit">
        <time datetime="{{createdISOFormat}}" title="{{created}}">{{createdHumanized}}</time>
      </td>
      <td class="text-center td-fit">
        <time datetime="{{updatedISOFormat}}" title="{{updated}}">{{updatedHumanized}}</time>
      </td>
    </tr>
    {{/discussionList}}
  </tbody>
</table>
</div>
