  <footer id="footer">
    <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse-bottom" class="navbar-toggle" onclick="$('html, body').animate({scrollTop: $(document).height()}, 'slow')"><i class="fa fa-bars"></i></button><a href="https://github.com/OpenUserJs" class="navbar-brand">© 2014 OpenUserJS Group</a>
        </div>
        <div class="navbar-collapse navbar-collapse-bottom collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/OpenUserJs/OpenUserJS.org/wiki/_pages">About</a></li>
            <li><a href="https://github.com/orgs/OpenUserJs/members">Collaborators</a></li>
            <li><a href="https://github.com/OpenUserJs/OpenUserJS.org">Join Us On GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </footer>


  <!-- JS -->
  <script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
