<footer id="footer">
  <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse-bottom" class="navbar-toggle" onclick="$('html, body').animate({scrollTop: $(document).height()}, 'slow')"><i class="fa fa-bars"></i></button>
        <a href="https://github.com/OpenUserJs" class="navbar-brand">&copy; 2013+ <span class="hidden-xs">OpenUserJS</span><span class="visible-xs-inline">OUJS</span> Group</a>
      </div>
      <div class="navbar-collapse navbar-collapse-bottom collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
          <li><a href="/about/Terms-of-Service">Terms of Service</a></li>
          <li><a href="/about/Digital-Millenium-Copyright-Act" title="Digital Millennium Copyright Act">DMCA</a></li>
          <li><a href="/about/Privacy-Policy">Privacy Policy</a></li>
          <li><a href="https://github.com/OpenUserJs/OpenUserJS.org">Development</a></li>
          <li><a href="https://github.com/orgs/OpenUserJs/people">Collaborators</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>

<!-- JS -->
<script type="text/javascript" charset="UTF-8" src="/redist/npm/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="UTF-8" src="/redist/npm/bootstrap/dist/js/bootstrap.js"></script>

{{> includes/scripts/hideReminders.html }}

{{^isDev}}
<!-- Google Analytics -->
{{> includes/scripts/googleAnalytics.html }}
{{/isDev}}
