{{#adminTools}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="fa fa-fw fa-coffee"></i>
      Admin Tools
    </div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group col-xs-12">
        <span class="input-group-btn">
          <button class="btn btn-default" id="groupid-raw" data-clipboard-text="{{{group._id}}}" title="Copy _id to clipboard"><i class="octicon octicon-clippy"></i> _id</button>
        </span>
        <input class="form-control" id="groupid" value="{{{group._id}}}" readonly="readonly" type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" id="groupid-urn" data-clipboard-text="/admin/json?model=Group&id={{{group._id}}}" title="Copy relative URL to clipboard"><i class="octicon octicon-clippy"></i> URN</button>
        </span>
        <span class="input-group-btn">
          <a class="btn btn-default btn-" title="Raw JSON Data" href="/admin/json?model=Group&id={{{group._id}}}">
              <i class="fa fa-tag"></i> Raw JSON Data
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{{/adminTools}}
