<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="{{#orderedByName}}active{{/orderedByName}}"><a href="?orderBy=name&orderDir={{orderDir.name}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}">Name</a></th>
      <th class="text-center{{#orderedBySize}} active{{/orderedBySize}}"><a href="?orderBy=size&orderDir={{orderDir.size}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}">Size</a></th>
      <th class="text-center{{#orderedByRating}} active{{/orderedByRating}}"><a href="?orderBy=rating&orderDir={{orderDir.rating}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}">Rating</a></th>
    </tr>
  </thead>
  <tbody>
    {{#groupList}}
    <tr class="tr-link">
      <td>
        <b>
          <a href="{{{groupPageUrl}}}" class="tr-link-a">{{name}}</a>
        </b>
      </td>
      <td class="text-center">
        <p>{{size}}</p>
      </td>
      <td class="rating text-center">
        <p>{{rating}}</p>
      </td>
    </tr>
    {{/groupList}}
    {{^groupList}}
    <tr class="tr-link">
      <td colspan="4">
        {{#searchBarValue}}
        <em>We couldn't find any groups with this search value.</em>
        {{/searchBarValue}}
      </td>
    </tr>
    {{/groupList}}
  </tbody>
</table>
