<div class="reminders">
{{^hideReminder}}
  <div class="alert alert-warning alert-dismissible small fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <p><i class="fa fa-fw fa-exclamation-triangle"></i> <b>REMINDER:</b> Don't miss out reading the <a class="alert-link" href="/announcements/Google_Authentication_Deprecation">Google Authentication Deprecation</a> with migration  announcement.</p>
  </div>
{{/hideReminder}}
</div>
