  <nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse-top" class="navbar-toggle"><i class="fa fa-bars"></i></button>
        <a href="/" class="navbar-brand">OpenUserJS</a>
      </div>
      <div class="navbar-collapse navbar-collapse-top collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Scripts</a></li>
          <li><a href="/groups">Groups</a></li>
          <li><a href="/forum">Discuss</a></li>
          {{#authedUser}}
          <li><a href="#"><i class="fa fa-envelope-o"></i> 0<span class="visible-xs"> Unread Messages</span></a></li>
          <li><a href="{{authedUser.userPageUrl}}">{{authedUser.name}}</a></li>
          <li><a href="/logout"><span class="visible-xs">Logout</span><i class="fa fa-sign-out"></i></a></li>
          {{/authedUser}}
          {{^authedUser}}
          <li><a href="/register">Login / Sign Up <i class="fa fa-sign-in"></i></a></li>
          {{/authedUser}}
        </ul>
      </div>
    </div>
  </nav>
