<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{#pageMetaDescription}}<meta name="description" content="{{pageMetaDescription}}">{{/pageMetaDescription}}
{{#pageMetaKeywords}}<meta name="keywords" content="{{pageMetaKeywords}}">{{/pageMetaKeywords}}
<link rel="shortcut icon" href="/images/favicon.ico" >
<link rel="apple-touch-icon" href="/images/favicon64.png" />
<link rel="apple-touch-icon-precomposed" href="/images/favicon64.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon120.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon120.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon152.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon152.png" />
<link rel="apple-touch-icon" sizes="167x167" href="/images/favicon167.png" />
<link rel="apple-touch-icon-precomposed" sizes="167x167" href="/images/favicon167.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon180.png" />
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/images/favicon180.png" />
<link rel="apple-touch-icon" sizes="1024x1024" href="/images/favicon1024.png" />
<link rel="apple-touch-icon-precomposed" sizes="1024x1024" href="/images/favicon1024.png" />

<!-- Open Search -->
<link href="/xml/opensearch-userscripts.xml" type="application/opensearchdescription+xml" rel="search" title="OpenUserJS Userscripts">
<link href="/xml/opensearch-groups.xml" type="application/opensearchdescription+xml" rel="search" title="OpenUserJS Groups">
<link href="/xml/opensearch-libraries.xml" type="application/opensearchdescription+xml" rel="search" title="OpenUserJS Libraries">
<link href="/xml/opensearch-users.xml" type="application/opensearchdescription+xml" rel="search" title="OpenUserJS Users">

<!-- CSS -->
<link rel="stylesheet" type="text/css" media="all" href='/redist/npm/font-awesome/css/font-awesome.min.css'{{#nonce}} nonce="{{nonce}}"{{/nonce}}>
<link rel="stylesheet" type="text/css" media="all" href='/redist/npm/octicons/build/font/octicons.css'{{#nonce}} nonce="{{nonce}}"{{/nonce}}>
<link rel="stylesheet" type="text/css" media="all" href="/less/bootstrap/oujs.css"{{#nonce}} nonce="{{nonce}}"{{/nonce}}>
<link rel="stylesheet" type="text/css" media="all" href="/redist/npm/highlight.js/styles/github.css"{{#nonce}} nonce="{{nonce}}"{{/nonce}}>
<link rel="stylesheet" type="text/css" media="all" href="/css/common.css"{{#nonce}} nonce="{{nonce}}"{{/nonce}}>
