<nav role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse-top" class="navbar-toggle"><i class="fa fa-bars"></i></button>
      <a href="/" class="navbar-brand" title="A Presentational Userscripts Repository">OpenUserJS<span class="mode">{{#isDbg}}dbg {{/isDbg}}{{#isDev}}dev{{/isDev}}</span></a>
    </div>
    <div class="navbar-collapse navbar-collapse-top collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" title="Userscripts"><span class="visible-xs-inline"><i class="fa fa-file-code-o"></i> </span>Userscripts</a></li>
        <li><a href="/?library=true" title="Libraries"><span class="visible-xs-inline"><i class="fa fa-file-excel-o"></i> </span>Libraries</a></li>
        <li><a href="/groups" title="Userscript Groups"><span class="visible-xs-inline"><i class="fa fa-tag"></i> </span>Groups</a></li>
        <li><a href="/forum"><span class="visible-xs-inline"><i class="fa fa-commenting"></i> </span>Discussions</a></li>
        <li><a href="/users"><span class="visible-xs-inline"><i class="fa fa-user"></i> </span>Users</a></li>
        {{#authedUser}}
        {{#authedUser.isMod}}
        <li><a href="/mod" title="Moderation"><i class="fa fa-eye"></i><span class="visible-xs-inline"> Moderation</span></a></li>
        {{/authedUser.isMod}}
        {{#authedUser.isAdmin}}
        <li><a href="/admin" title="Administration"><i class="fa fa-coffee"></i><span class="visible-xs-inline"> Admin</span></a></li>
        {{/authedUser.isAdmin}}
        <!-- <li><a href="#" class="disabled"><i class="fa fa-envelope-o"></i> 0<span class="visible-xs-inline"> Unread Messages</span></a></li> -->
        <li><a href="{{authedUser.userPageUrl}}" title="My profile">{{authedUser.name}}</a></li>
        <li><a href="/logout" title="Logout"><span class="visible-xs-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
        {{/authedUser}}
        {{^authedUser}}
        <li><a href="/register">Login / Sign Up <i class="fa fa-sign-in"></i></a></li>
        {{/authedUser}}
      </ul>
    </div>
  </div>
</nav>
{{> includes/headerReminders.html }}
