<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"><a href="?orderBy=name&orderDir={{orderDir.name}}{{#librariesOnly}}&library=true{{/librariesOnly}}{{#isFlagged}}&flagged=true{{/isFlagged}}">Name</a></th>
      {{^librariesOnly}}<th class="text-center td-fit"><a href="?orderBy=installs&orderDir={{orderDir.install}}{{#isFlagged}}&flagged=true{{/isFlagged}}">Installs</a></th>{{/librariesOnly}}
      <th class="text-center td-fit"><a href="?orderBy=rating&orderDir={{orderDir.rating}}{{#librariesOnly}}&library=true{{/librariesOnly}}{{#isFlagged}}&flagged=true{{/isFlagged}}">Rating</a></th>
      <th class="text-center td-fit"><a href="?orderBy=updated&orderDir={{orderDir.updated}}{{#librariesOnly}}&library=true{{/librariesOnly}}{{#isFlagged}}&flagged=true{{/isFlagged}}">Last Updated</a></th>
    </tr>
  </thead>
  <tbody>
    {{#scriptList}}
    <tr class="tr-link">
      <td>
        <span class="script-icon hidden-xs" {{#icon16Url}}data-icon-src="{{{icon16Url}}}" data-icon-size="16"{{/icon16Url}}>
          {{#isLib}}<i class="fa fa-fw fa-file-excel-o"></i>{{/isLib}}{{^isLib}}<i class="fa fa-fw fa-file-code-o"></i>{{/isLib}}
        </span>
        <a href="{{{scriptPageUrl}}}" class="tr-link-a"><b>{{name}}</b></a>
        {{#meta.version}}
        <span class="script-version label label-default">{{meta.version}}</span>
        {{/meta.version}}
        <span class="inline-block">by <a href="{{{author.userPageUrl}}}">{{author.name}}</a></span>
        <p>{{meta.description}}</p>
      </td>
      {{^librariesOnly}}
      <td class="text-center td-fit">
        <p>{{#isLib}}&ndash;{{/isLib}}{{^isLib}}{{installs}}{{/isLib}}</p>
      </td>
      {{/librariesOnly}}
      <td class="rating text-center td-fit">
        <p>{{rating}}</p>
        <div class="progress">
          <div style="width: {{votesPercent}}%" class="progress-bar progress-bar-good"></div>
          <div style="width: {{flagsPercent}}%" class="progress-bar progress-bar-danger"></div>
        </div>
      </td>
      <td class="text-center td-fit">
        <time datetime="{{updatedISOFormat}}" title="{{updated}}">{{updatedHumanized}}</time>
      </td>
    </tr>
    {{/scriptList}}
    {{^scriptList}}
    <tr class="tr-link">
      <td colspan="4">
        <em>{{scriptListIsEmptyMessage}}</em>
      </td>
    </tr>
    {{/scriptList}}
  </tbody>
</table>
