{{#modTools}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="fa fa-fw fa-eye"></i>
      Mod Tools
    </div>
  </div>
  <div class="panel-body">
    {{#script}}
    {{> includes/flagModelSnippet.html }}
    {{/script}}
    {{#canRemove}}
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="#" data-toggle="modal" data-target="#removeScriptModal"><i class="fa fa-ban"></i> Remove Script</a></li>
    </ul>
    {{/canRemove}}
  </div>
</div>
{{/modTools}}
