<div class="alert alert-warning" role="alert">
  {{#script.hasInvalidDownloadURL}}
    <p>
      <i class="fa fa-fw fa-exclamation"></i> Invalid download target
    </p>
  {{/script.hasInvalidDownloadURL}}
  {{#script.hasUnstableMinify}}
    <p{{^isScriptViewSourcePage}} title="{{script.meta.OpenUserJS.unstableMinify.0.value}}"{{/isScriptViewSourcePage}}>
      <i class="fa fa-fw fa-exclamation-triangle"></i> The script author suggests that minification of this script may be unstable.
    <p>
  {{/script.hasUnstableMinify}}
  {{#script.hasAlternateDownloadURL}}
    <p{{^isScriptViewSourcePage}} title="{{script.meta.UserScript.downloadURL.0.value}}"{{/isScriptViewSourcePage}}>
      <i class="fa fa-fw fa-exclamation-triangle"></i> Alternate download target.
    </p>
  {{/script.hasAlternateDownloadURL}}
</div>
