<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="pull-left vote-area">
        <a rel="nofollow" href="{{^votedUp}}{{{voteUpUrl}}}{{/votedUp}}{{#votedUp}}{{{unvoteUrl}}}{{/votedUp}}" class="btn-vote {{^voteable}}disabled{{/voteable}} {{#votedUp}}active{{/votedUp}}"><i class="fa fa-2x fa-caret-up"></i></a>
        <a rel="nofollow" href="{{^votedDown}}{{{voteDownUrl}}}{{/votedDown}}{{#votedDown}}{{{unvoteUrl}}}{{/votedDown}}" class="btn-vote {{^voteable}}disabled{{/voteable}} {{#votedDown}}active{{/votedDown}}"><i class="fa fa-2x fa-caret-down"></i></a>
      </div>
      <p><i class="fa fa-fw fa-signal"></i> <b>Rating:</b> {{script.rating}}</p>
      <div class="progress">
        <div style="width: {{script.votesPercent}}%" class="progress-bar progress-bar-good">{{#script.votes}}{{script.votes}} Votes{{/script.votes}}</div>
        <div style="width: {{script.flagsPercent}}%" class="progress-bar progress-bar-danger">{{#script.flags}}{{script.flags}} <i class="fa fa-fw fa-flag"></i>{{/script.flags}}</div>
      </div>
    </div>
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="{{{favoriteUrl}}}" class="{{^canFavorite}}disabled{{/canFavorite}}"><i class="fa fa-star{{^upvoted}}-o{{/upvoted}}"></i> Favorite</a></li>
      <li><a rel="nofollow" href="{{forkUrl}}" class="{{^canFork}}disabled{{/canFork}}"><i class="fa fa-code-fork"></i> Fork</a></li>
      {{#flagged}}
        <li><a rel="nofollow" href="{{{flagUrl}}}" class="{{^canFlag}}disabled{{/canFlag}}"><i class="fa fa-flag"></i> Unflag</a></li>
      {{/flagged}}
      {{^flagged}}
        <li><a rel="nofollow" href="#" data-toggle="modal" data-target="#flagScriptModal" class="{{^canFlag}}disabled{{/canFlag}}"><i class="fa fa-flag-o"></i> Flag</a></li>
      {{/flagged}}
    </ul>
  </div>
</div>
