{{#authorTools}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-fw fa-user"></i> Author Tools</div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="{{{script.scriptEditMetadataPageUrl}}}"><i class="fa fa-edit"></i> Edit Script Info</a></li>
      <li><a rel="nofollow" href="{{{script.scriptEditSourcePageUrl}}}"><i class="fa fa-file-text"></i> Edit Script</a></li>
    </ul>
    {{^script.isLib}}
    <div class="form-group">
      <div class="input-group col-xs-12">
        <span class="input-group-btn">
          <button class="btn btn-{{#lockdown.updateURLCheck}}info{{/lockdown.updateURLCheck}}{{^lockdown.updateURLCheck}}default{{/lockdown.updateURLCheck}}" id="updateurl-raw" data-clipboard-text="// @updateURL {{{script.scriptPermalinkMetaPageUrl}}}" title="Copy key and raw URL to clipboard"><i class="octicon octicon-clippy"></i> // @updateURL</button>
        </span>
        <input type="text" class="form-control" id="updateurl" value="{{{script.scriptPermalinkMetaPageUrl}}}" readonly="readonly">
        <span class="input-group-btn">
          <a class="btn btn-{{#lockdown.updateURLCheck}}info{{/lockdown.updateURLCheck}}{{^lockdown.updateURLCheck}}default{{/lockdown.updateURLCheck}}"
            title="How do I use this?"
            href="/about/Frequently-Asked-Questions#q-does-openuserjs-org-have-meta-">
              <i class="fa fa-{{#lockdown.updateURLCheck}}exclamation{{/lockdown.updateURLCheck}}{{^lockdown.updateURLCheck}}question{{/lockdown.updateURLCheck}}"></i>
          </a>
        </span>
      </div>
    </div>
    <h4>Installs per Version <small>effective <time title='Tue Sep 2 2014'>Sep '14</time></small></h4>
    <p><code>{{script.meta.version}}{{^script.meta.version}}Current{{/script.meta.version}}</code> <span class="label label-default">{{script.installsSinceUpdate}} installs</span></p>
    {{/script.isLib}}
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-fw fa-bolt"></i> Danger Zone</div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="#" data-toggle="modal" data-target="#deleteScriptModal"><i class="fa fa-trash-o"></i> Delete Script</a></li>
    </ul>
  </div>
</div>
{{/authorTools}}
