<h2 class="page-heading">
  {{#isScriptPage}}
    {{^script.isLib}}
    <div class="btn-group pull-right">
      <a href="{{{script.scriptInstallPageUrl}}}" class="btn btn-info">
        <i class="fa fa-download"></i> Install
      </a>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <div class="btn-group btn-group-justified">
            <a href="{{{script.scriptInstallPageXUrl}}}.min.user.js" class="btn btn-{{#script.showMinficationNotices}}warning{{/script.showMinficationNotices}}{{^script.showMinficationNotices}}primary{{/script.showMinficationNotices}}" title="EXPERIMENTAL INSTALLATION FORKING"><i class="fa fa-fw fa-download"></i> Install {{#script.hasAlternateDownloadURL}}once {{/script.hasAlternateDownloadURL}} with minification</a>
          </div>
          {{#script.showMinficationNotices}}
          {{> includes/scriptPageHeaderMinificationNotices.html }}
          {{/script.showMinficationNotices}}
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="/about/Userscript-Beginners-HOWTO"><em class="fa fa-fw fa-file-text-o"></em> Userscript Beginners HOWTO</a></li>
      </ul>
    </div>
    {{/script.isLib}}
  {{/isScriptPage}}
  {{#isScriptViewSourcePage}}
    <div class="btn-group pull-right">
      <a href="{{{script.scriptRawPageUrl}}}" class="btn btn-info">
        <i class="fa fa-file-{{#script.isLib}}excel{{/script.isLib}}{{^script.isLib}}code{{/script.isLib}}-o"></i> Raw Source
      </a>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <div class="btn-group btn-group-justified">
            <a href="{{{script.scriptRawPageXUrl}}}" class="btn btn-{{#script.showMinficationNotices}}warning{{/script.showMinficationNotices}}{{^script.showMinficationNotices}}primary{{/script.showMinficationNotices}}" title="EXPERIMENTAL"><i class="fa fa-file-{{#script.isLib}}excel{{/script.isLib}}{{^script.isLib}}code{{/script.isLib}}-o"></i> Minified Source</a>
          </div>
          {{#script.showMinficationNotices}}
          {{> includes/scriptPageHeaderMinificationNotices.html }}
          {{/script.showMinficationNotices}}
        </li>
      </ul>
    </div>

  {{/isScriptViewSourcePage}}
  {{#script.icon45Url}}
  <span class="page-heading-icon" {{#script.icon45Url}}data-icon-src="{{{script.icon45Url}}}"{{/script.icon45Url}}>
    {{#script.isLib}}<i class="fa fa-fw fa-file-excel-o"></i>{{/script.isLib}}{{^script.isLib}}<i class="fa fa-fw fa-file-code-o"></i>{{/script.isLib}}
  </span>
  {{/script.icon45Url}}
  <a href="{{{script.author.userPageUrl}}}" class="script-author">{{script.author.name}}</a>
  <span class="path-divider">/</span>
  <a href="{{{script.scriptPageUrl}}}" class="script-name">{{script.name}}</a>
</h2>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#content-navbar" class="navbar-toggle"><i class="fa fa-bars"></i></button>
    <div class="navbar-brand visible-xs-block"></div> {{! Cheating at padding. }}
    <p class="navbar-text visible-xs-block"><i class="fa fa-fw fa-signal"></i> <b>Installs:</b> {{script.installs}}</p>
  </div>
  <div class="navbar-collapse collapse in" id="content-navbar">
    <ul class="nav navbar-nav">
      <li class="{{#isScriptPage}}active{{/isScriptPage}}"><a href="{{{script.scriptPageUrl}}}">About</a></li>
      <li class="{{#isScriptViewSourcePage}}active{{/isScriptViewSourcePage}}"><a href="{{{script.scriptViewSourcePageUrl}}}" class="{{^script.scriptViewSourcePageUrl}}disabled{{/script.scriptViewSourcePageUrl}}">Source Code</a></li>
      <li class="{{#isScriptIssuesPage}}active{{/isScriptIssuesPage}}"><a href="{{{script.scriptIssuesPageUrl}}}" class="{{^script.scriptIssuesPageUrl}}disabled{{/script.scriptIssuesPageUrl}}">Issues <span class="badge">{{issueCount}}</span></a></li>
    </ul>
    {{^script.isLib}}
    <p class="navbar-text pull-right hidden-xs"><i class="fa fa-fw fa-signal"></i> <b>Installs:</b> {{script.installs}}</p>
    {{/script.isLib}}
  </div>
</nav>
