{{#authorTools}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-fw fa-user"></i> Author Tools</div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="{{{script.scriptEditMetadataPageUrl}}}"><i class="fa fa-edit"></i> Edit Script Info</a></li>
      <li><a rel="nofollow" href="{{{script.scriptEditSourcePageUrl}}}"><i class="fa fa-file-text"></i> Edit Script</a></li>
    </ul>

    <hr>

    <h4>Installs per Version <small>since <time>2 Sept 2014</time></small></h4>

    <p><code>{{script.meta.version}}{{^script.meta.version}}Current{{/script.meta.version}}</code> <span class="label label-default">{{script.installsSinceUpdate}} installs</span></p>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-fw fa-bolt"></i> Danger Zone</div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="#" data-toggle="modal" data-target="#deleteScriptModal"><i class="fa fa-trash-o"></i> Delete Script</a></li>
    </ul>
  </div>
</div>
{{/authorTools}}
