<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="pull-left vote-area">
        <a rel="nofollow" href="{{^votedUp}}{{{voteUpUrl}}}{{/votedUp}}{{#votedUp}}{{{unvoteUrl}}}{{/votedUp}}" class="btn-vote {{^voteable}}disabled{{/voteable}} {{#votedUp}}active{{/votedUp}}"><i class="fa fa-2x fa-caret-up"></i></a>
        <a rel="nofollow" href="{{^votedDown}}{{{voteDownUrl}}}{{/votedDown}}{{#votedDown}}{{{unvoteUrl}}}{{/votedDown}}" class="btn-vote {{^voteable}}disabled{{/voteable}} {{#votedDown}}active{{/votedDown}}"><i class="fa fa-2x fa-caret-down"></i></a>
      </div>
      <p><i class="fa fa-fw fa-heartbeat"></i> <b>Rating:</b> {{script.rating}}</p>
      <div class="progress">
        <div style="width: {{script.votesPercent}}%" class="progress-bar progress-bar-good">{{#script.votes}}{{script.votes}} Votes{{/script.votes}}</div>
        <div style="width: {{script.flagsPercent}}%" class="progress-bar progress-bar-danger">{{#script.flags.critical}}{{script.flags.critical}} <i class="fa fa-fw fa-flag-o"></i>{{/script.flags.critical}}</div>
      </div>
    </div>
    <ul class="nav nav-pills nav-justified">
      <li>
        <div class="text-center">
          {{#flagged}}
          <form action="{{{script.scriptFlagPageUrl}}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="flag" value="false">
            <button class="btn btn-link" type="submit" class="{{^canFlag}} disabled{{/canFlag}}"><i class="fa fa-fw fa-flag"></i> Unflag</button>
          </form>
          {{/flagged}}
          {{^flagged}}
          <a rel="nofollow" href="#" data-toggle="modal" data-target="#flagScriptModal" class="{{^canFlag}}disabled{{/canFlag}}"><i class="fa fa-flag-o"></i> Flag</a>
          {{/flagged}}
        </div>
      </li>
    </ul>
  </div>
</div>
