<div class="alert alert-warning" role="alert">
  {{#script.hasCVE}}
    <p>
      {{#script.CVES}}<i class="fa fa-fw fa-exclamation-triangle"></i> CVE: {{value}} {{/script.CVES}}
    </p>
  {{/script.hasCVE}}
  {{#script.hasInvalidUpdateURL}}
    <p>
      <i class="fa fa-fw fa-exclamation-circle"></i> Invalid update check target.
    </p>
  {{/script.hasInvalidUpdateURL}}
  {{#script.hasAlternateUpdateURL}}
    <p title="{{script.meta.UserScript.updateURL.0.value}}">
      <i class="fa fa-fw fa-exclamation-triangle"></i> Alternate update check target.
    </p>
  {{/script.hasAlternateUpdateURL}}
  {{#script.hasInvalidDownloadURL}}
    <p>
      <i class="fa fa-fw fa-exclamation-circle"></i> Invalid download source target.
    </p>
  {{/script.hasInvalidDownloadURL}}
  {{#script.hasAlternateDownloadURL}}
    <p title="{{script.meta.UserScript.downloadURL.0.value}}">
      <i class="fa fa-fw fa-exclamation-triangle"></i> Alternate download source target.
    </p>
  {{/script.hasAlternateDownloadURL}}
  {{#script.hasUnstableMinify}}
    <p title="{{script.meta.OpenUserJS.unstableMinify.0.value}}">
      <i class="fa fa-fw fa-exclamation-triangle"></i> The script author suggests that minification of this script may be unstable.
    <p>
  {{/script.hasUnstableMinify}}
</div>
