<form action="{{{searchBarFormAction}}}" method="get">
  {{#searchBarFormHiddenVariables}}
  <input type="hidden" name="{{name}}" value="{{value}}">
  {{/searchBarFormHiddenVariables}}
  <div class="input-group col-xs-12">
    <input name="q" type="text" placeholder="{{searchBarPlaceholder}}" class="search form-control" value="{{searchBarValue}}" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
