<div class="session-sid list-group-item">
  <article>
    <div class="row">
      <div class="session-avatar col-sm-2">
        {{#userPageUrl}}<a href="{{{userPageUrl}}}" class="username"><i class="fa fa-user"></i></a>{{/userPageUrl}}
        {{^userPageUrl}}<span class="username"><i class="fa fa-user"></i></span>{{/userPageUrl}}
      </div>
      <div class="session-body col-sm-10 container-fluid">
        <div class="session-meta-data row">
          <div class="names pull-left">
            <span>
              {{#userPageUrl}}<a href="{{{userPageUrl}}}" class="username">{{name}}</a>{{/userPageUrl}}
              {{^userPageUrl}}<span class="username">{{name}}</span>{{/userPageUrl}}
              <span class="label label-default">{{#role}}{{role}}{{/role}}{{^role}}<em>waiting</em>{{/role}}</span>
              <span class="label label-{{#cookie.secure}}success{{/cookie.secure}}{{^cookie.secure}}warning{{/cookie.secure}}" title="secure">
                <i class="fa fa-{{^cookie.secure}}un{{/cookie.secure}}lock"></i>
              </span>
              <span class="label label-{{#cookie.httpOnly}}success{{/cookie.httpOnly}}{{^cookie.httpOnly}}danger{{/cookie.httpOnly}}" title="httpOnly">
                <i class="fa fa-ban"></i> JS
              </span>
              <span class="label label-{{#cookie.sameSite}}success{{/cookie.sameSite}}{{^cookie.sameSite}}warning{{/cookie.sameSite}}" title="sameSite">
                {{#cookie.sameSiteStrict}}<i class="fa fa-circle"></i>{{/cookie.sameSiteStrict}}
                {{#cookie.sameSiteLax}}<i class="fa fa-adjust"></i>{{/cookie.sameSiteLax}}
                {{^cookie.sameSite}}<i class="fa fa-circle-o"></i>{{/cookie.sameSite}}
              </span>
            </span>
          </div>
          <div class="session-info pull-right">
            <img src="/images/strat/{{strategy}}16.png">
            <i class="fa fa-fw fa-globe ua {{ua.class}} " title="{{#ua.raw}}{{ua.raw}}{{/ua.raw}}{{^ua.raw}}{{/ua.raw}}"></i>
            {{#cookie.since}}<time datetime="{{cookie.sinceISOFormat}}" title="{{cookie.since}}">{{cookie.sinceHumanized}}</time>{{/cookie.since}}{{^cookie.since}}<em>waiting</em>{{/cookie.since}}
          </div>
        </div>
        <div class="session-post-contents row">
          <div class="session-data">
            Expires {{#cookie.expires}}<time datetime="{{cookie.expiresISOFormat}}" title="{{cookie.expires}}">{{cookie.expiresHumanized}}</time>{{/cookie.expires}}{{^cookie.expires}}&infin;{{/cookie.expires}}.
          </div>
          <div class="pull-right">
            <form class="form-inline" action="/api/user/session/destroyOne" method="post">
              <div class="input-group">
                <input type="hidden" name="username" value="{{name}}">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger{{^canDestroyOne}} disabled{{/canDestroyOne}}"{{^canDestroyOne}} disabled="disabled"{{/canDestroyOne}}>
                  <span class="fa fa-trash"> Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </article>
</div>
