<div class="session-sid list-group-item">
  <article>
    <div class="row">
      <div class="session-avatar col-sm-2">
        {{#user.userPageUrl}}<a href="{{{user.userPageUrl}}}" class="username"><i class="fa fa-user"></i></a>{{/user.userPageUrl}}
        {{^user.userPageUrl}}<span class="username"><i class="fa fa-user"></i></span>{{/user.userPageUrl}}
      </div>
      <div class="session-body col-sm-10 container-fluid">
        <div class="session-meta-data row">
          <div class="names pull-left">
            <span>
              {{#user.userPageUrl}}<a href="{{{user.userPageUrl}}}" class="username">{{name}}</a>{{/user.userPageUrl}}
              {{^user.userPageUrl}}<span class="username">{{#name}}{{name}}{{/name}}{{^name}}<em>&hellip;</em>{{/name}}</span>{{/user.userPageUrl}}
              <span class="label label-default">{{#user.roleName}}{{user.roleName}}{{/user.roleName}}{{^user.roleName}}<em>&hellip;</em>{{/user.roleName}}</span>
              <span class="label label-{{#cookie.secure}}success{{/cookie.secure}}{{^cookie.secure}}warning{{/cookie.secure}}" title="secure">
                <i class="fa fa-{{^cookie.secure}}un{{/cookie.secure}}lock"></i>
              </span>
              <span class="label label-{{#cookie.httpOnly}}success{{/cookie.httpOnly}}{{^cookie.httpOnly}}danger{{/cookie.httpOnly}}" title="httpOnly">
                <i class="fa fa-ban"></i> JS
              </span>
              <span class="label label-{{#cookie.sameSite}}success{{/cookie.sameSite}}{{^cookie.sameSite}}warning{{/cookie.sameSite}}" title="sameSite">
                {{#cookie.sameSiteStrict}}<i class="fa fa-circle"></i>{{/cookie.sameSiteStrict}}
                {{#cookie.sameSiteLax}}<i class="fa fa-adjust"></i>{{/cookie.sameSiteLax}}
                {{^cookie.sameSite}}<i class="fa fa-circle-o"></i>{{/cookie.sameSite}}
              </span>
              <span class="label label-{{#cookie.originalMaxAge}}success{{/cookie.originalMaxAge}}{{^cookie.originalMaxAge}}warning{{/cookie.originalMaxAge}}" title="originalMaxAge">
                {{#cookie.originalMaxAge}}{{cookie.originalMaxAgeHumanized}}{{/cookie.originalMaxAge}}{{^cookie.originalMaxAge}}&and;{{/cookie.originalMaxAge}}
              </span>
              {{#passport.oujsOptions.remoteAddress}}
              <span class="label label-info" title="remoteAddress">{{passport.oujsOptions.remoteAddressMask}}</span>
              {{/passport.oujsOptions.remoteAddress}}
            </span>
          </div>
          <div class="session-info pull-right">
            <img src="/images/strat/{{passport.oujsOptions.strategy}}16.png" title="{{#passport.oujsOptions.strategy}}{{passport.oujsOptions.strategy}}{{/passport.oujsOptions.strategy}}{{^passport.oujsOptions.strategy}}passport{{/passport.oujsOptions.strategy}}" alt="{{#passport.oujsOptions.strategy}}{{passport.oujsOptions.strategy}}{{/passport.oujsOptions.strategy}}{{^passport.oujsOptions.strategy}}passport{{/passport.oujsOptions.strategy}}">
            <i class="fa fa-fw fa-globe ua{{#passport.oujsOptions.userAgentFamily}} fa-lg ua-{{passport.oujsOptions.userAgentFamily}}{{/passport.oujsOptions.userAgentFamily}} "{{#passport.oujsOptions.userAgent}} title="{{passport.oujsOptions.userAgent}}"{{/passport.oujsOptions.userAgent}}></i>
            {{#passport.oujsOptions.since}}<time datetime="{{passport.oujsOptions.sinceISOFormat}}" title="{{passport.oujsOptions.since}}">{{passport.oujsOptions.sinceHumanized}}</time>{{/passport.oujsOptions.since}}{{^passport.oujsOptions.since}}<em>&hellip;</em>{{/passport.oujsOptions.since}}
          </div>
        </div>
        <div class="session-post-contents row">
          <div class="session-data">
            Expires {{#cookie.expires}}<time datetime="{{cookie.expiresISOFormat}}" title="{{cookie.expires}}">{{cookie.expiresHumanized}}</time>{{/cookie.expires}}{{^cookie.expires}}&and;{{/cookie.expires}}.
          </div>
          <div class="pull-right">
            <form class="form-inline" action="/api/user/session/destroyOne" method="post">
              <div class="input-group">
                <input type="hidden" name="username" value="{{name}}">
                <input type="hidden" name="id" value="{{passport.oujsOptions.sid}}">
                <button type="submit" class="btn btn-danger{{^canDestroyOne}} disabled{{/canDestroyOne}}"{{^canDestroyOne}} disabled="disabled"{{/canDestroyOne}}>
                  <span class="fa fa-trash"> Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </article>
</div>
