<div class="modal fade" id="donateSiteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="fa fa-fw fa-money"></i> Donate for the site OpenUserJS</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to go to an external site to donate a monetary value?</p>
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-fw fa-exclamation-triangle"></i> WARNING: Some countries laws may supersede the payment processors policy such as the GDPR and PayPal. While it is highly appreciated to donate, please check with your countries privacy and identity laws regarding privacy of information first. Use at your utmost discretion.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-close"></i> Close</button>
        <a rel="external noreferrer noopener nofollow sponsored" referrerpolicy="same-origin" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F359CDZSR6L7W" class="btn btn-danger" role="button" title="Send a monetary Thank You!">Donate</a>
      </div>
    </div>
  </div>
</div>
{{#user.hasCaptcha}}
<div class="modal fade" id="captchaModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="fa fa-fw fa-user"></i> I am human</h4>
      </div>
      <div class="modal-body text-center d-block">
        <p>Please solve this.</p>
      </div>
      <div class="form-group has-feedback has-clear text-center">
        <img src="/users/{{user.slugUrl}}/profile/captcha"/>
      </div>
      <form action="" method="post">
        <div class="modal-footer">
          <input type="hidden" name="about">
          <div class="input-group col-xs-12">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-close"></i> Close</button>
            </span>
            <input class="form-control text-center" type="text" name="captcha" placeholder="Type solution here" autocomplete="off"/>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success" title="Submit solution">
                <i class="fa fa-fw fa-check"></i><span > Submit</span>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{> includes/scripts/markdownCopy.html }}
{{/user.hasCaptcha}}
