<table class="table table-hover">
  <thead>
    <tr>
      <th title="Source" class="text-center td-fit"><i class="fa fa-refresh"></i></th>
      <th title="Target" class="td-fit{{#orderedByTarget}} active{{/orderedByTarget}}"><a href="?orderBy=target&orderDir={{orderDir.target}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}"><span class="visible-lg visible-md">Target</span><span class="hidden-lg hidden-md">Target</span></a></th>
      <th title="Created" class="text-center td-fit{{#orderedByCreated}} active{{/orderedByCreated}}"><a href="?orderBy=created&orderDir={{orderDir.created}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}"><span class="visible-lg visible-md">Created</span><span class="hidden-lg hidden-md"><i class="fa fa-clock-o"></i></span></a></th>
      <th title="Updated" class="text-center td-fit{{#orderedByUpdated}} active{{/orderedByUpdated}}"><a href="?orderBy=updated&orderDir={{orderDir.updated}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}"><span class="visible-lg visible-md">Updated</span><span class="hidden-lg hidden-md"><i class="fa fa-history"></i></span></a></th>
      <th title="Response" class="text-center td-fit{{#orderedByResponse}} active{{/orderedByResponse}}"><a href="?orderBy=response&orderDir={{orderDir.response}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}"><span class="visible-lg visible-md">Response</span><span class="hidden-lg hidden-md"><i class="fa fa-exclamation-circle"></i></span></a></th>
      <th title="Message"><span>Message</span></th>
    </tr>
  </thead>
  <tbody>
    {{#syncList}}
    <tr class="tr-link">
      <td class="text-center td-fit">
        <p><img src="/images/strat/{{strat}}16.png" title="{{id}}"></p>
      </td>
      <td class="td-fit">
        <p><a href="{{target}}#bypass=true" title="{{targetUrl}}">{{targetUrlBasename}}</a></p>
      </td>
      <td class="text-center td-fit">
        <time datetime="{{createdISOFormat}}" title="{{created}}" class="iconic">{{{createdHumanizedIconic}}}</time>
      </td>
      <td class="text-center td-fit">
        {{#updated}}<time datetime="{{updatedISOFormat}}" title="{{updated}}" class="iconic">{{{updatedHumanizedIconic}}}</time>{{/updated}}
      </td>
      <td class="text-center td-fit">
        <p><span class="label label-default">{{#response}}{{response}}{{/response}}{{^response}}202{{/response}}</span></p>
      </td>
      <td>
        <p>{{#message}}{{message}}{{/message}}{{^message}}Accepted{{/message}}</p>
      </td>
    </tr>
    {{/syncList}}
    {{^syncList}}
    <tr class="tr-link">
      <td colspan="7">
        <em>This user hasn't had any tracked syncs yet.</em>
      </td>
    </tr>
    {{/syncList}}
  </tbody>
</table>
