<div class="modal fade" id="flagUserModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Flag {{user.name}}</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to flag this user for potential inspection by a Moderator?</p>
      </div>
      <div class="modal-footer">
        <form action="{{{user.userFlagPageUrl}}}" method="post" enctype="multipart/form-data">
          <input type="text" class="form-control" name="reason" placeholder="Reason for moderation inspection.">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-close"></i> Close</button>
          <input type="hidden" name="flag" value="true">
          <button type="submit" class="btn btn-danger{{^canFlag}} disabled{{/canFlag}}"><i class="fa fa-fw fa-flag"></i> Flag</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{#modTools}}
<div class="modal fade" id="removeUserModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Remove {{user.name}}</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this user? You cannot undo this.</p>
      </div>
      <div class="modal-footer">
        <form action="{{{user.userRemovePageUrl}}}" method="post" enctype="multipart/form-data">
          <input type="text" class="form-control" name="reason" placeholder="Reason for removal."{{#modTools.removeReasons}} list="reasons"{{/modTools.removeReasons}}>
          {{#modTools.hasRemoveReasons}}
          <datalist id="reasons">
            {{#modTools.removeReasons}}<option value="{{{name}}}"></option>{{/modTools.removeReasons}}
          </datalist>
          {{/modTools.hasRemoveReasons}}
          <br />
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-close"></i> Close</button>
          <input type="hidden" name="remove" value="true">
          <button type="submit" class="btn btn-danger"><i class="fa fa-fw fa-ban"></i> Remove</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/modTools}}
