{{#userTools}}
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="{{{user.userEditProfilePageUrl}}}" class="{{^user.userEditProfilePageUrl}}disabled{{/user.userEditProfilePageUrl}}"><i class="fa fa-user"></i> Edit Profile</a></li>
      <li><a rel="nofollow" href="/user/preferences"><i class="fa fa-cogs"></i> Preferences</a></li>
    </ul>
    <ul class="nav nav-pills nav-justified">
      <li><a rel="nofollow" href="/user/add/scripts"><i class="fa fa-file-code-o"></i> Add Script</a></li>
      <li><a rel="nofollow" href="/user/add/lib"><i class="fa fa-file-excel-o"></i> Add Library</a></li>
    </ul>
  </div>
</div>
{{/userTools}}
