{{#stats}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="fa fa-fw fa-bar-chart-o"></i>
      Stats
    </div>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Member since</dt>
      <dd><time datetime="{{user._sinceISOFormat}}" title="{{user._since}}">{{user._sinceHumanized}}</time></dd>
      <dt>Number of userscripts</dt>
      <dd>{{stats.totalScripts}}</dd>
      <dt>Number of libraries</dt>
      <dd>{{stats.totalLibs}}</dd>
      <dt>Total installs</dt>
      <dd>{{stats.totalInstalls}}</dd>
      <dt>Average installs</dt>
      <dd>{{stats.avgInstalls}}</dd>
      <dt>Average rating</dt>
      <dd>{{stats.avgRating}}</dd>
    </dl>
  </div>
</div>
{{/stats}}
