<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class=""><a href="?orderBy=name&orderDir=asc">Name</a></th>
      <th class=""><a href="?orderBy=role&orderDir=asc">Rank</a></th>
    </tr>
  </thead>
  <tbody>
    {{#userList}}
    <tr class="tr-link">
      <td>
        <b>
          <a href="{{{userPageUrl}}}" class="tr-link-a">{{name}}</a>
        </b>
      </td>
      <td class="">
        <p>
          <span class="label label-default">{{roleName}}</span>
        </p>
      </td>
    </tr>
    {{/userList}}
    {{^userList}}
    <tr class="tr-link">
      <td colspan="4">
        {{#searchBarValue}}
        <em>We couldn't find any users by this name.</em>
        {{/searchBarValue}}
        {{#isFlagged}}
        <em>No users.</em>
        {{/isFlagged}}
      </td>
    </tr>
    {{/userList}}
  </tbody>
</table>
