<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="{{#orderedByName}}active{{/orderedByName}}"><a href="?orderBy=name&orderDir={{orderDir.name}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}{{#isFlagged}}&flagged={{isFlagged}}{{/isFlagged}}">Name</a></th>
      <th class="td-fit{{#orderedByRole}} active{{/orderedByRole}}"><a href="?orderBy=role&orderDir={{orderDir.role}}{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}{{#isFlagged}}&flagged={{isFlagged}}{{/isFlagged}}">Rank</a></th>
      {{#hasFlagged}}
      <th>Flagged</th>
      {{/hasFlagged}}
    </tr>
  </thead>
  <tbody>
    {{#userList}}
    <tr class="tr-link">
      <td>
        <b>
          <a href="{{{userPageUrl}}}" class="tr-link-a">{{name}}</a>
        </b>
      </td>
      <td class="td-fit">
        <p>
          <span class="label label-default">{{roleName}}</span>
        </p>
      </td>
      {{#hasFlagged}}
      <td>
        <ul class="flaggedList">
        {{#flaggedList}}
          <li>
            {{#name}}<span class="label label-info"><a href="/users/{{name}}">{{name}}</a></span>{{/name}}
            <span title="{{since}}">{{#reason}}{{reason}}{{/reason}}{{^reason}}&hellip;{{/reason}}</span>
          </li>
        {{/flaggedList}}
        </ul>
      </td>
      {{/hasFlagged}}
    </tr>
    {{/userList}}
    {{^userList}}
    <tr class="tr-link">
      <td colspan="3">
        <em>{{userListIsEmptyMessage}}</em>
      </td>
    </tr>
    {{/userList}}
  </tbody>
</table>
