
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

data
fakeS3
dev/fakeS3
cert
aws.json
prod.sh

# Visual Studio
/iisnode
*.njsproj
*.sln
*.suo
[Oo]bj/
.jshintrc
