<script type="text/javascript" charset="UTF-8" src="/redist/npm/ace-builds/src/ace.js"></script>
<script type="text/javascript" charset="UTF-8" src="/redist/npm/js-beautify/js/lib/beautify.js"></script>
<script type="text/javascript">
  (function () {
    'use strict';

    $(document).ready(function () {
      var editor = null;
      var wrap = $('#wrap');
      var beautify = $('#beautify');
      var rawSource = null;
      var isBlocking = null;
      var hasChanged = false;
      var placeholder = null;
      var username = '{{authedUser.name}}' || 'username';
      var isLib = {{isLib}};
      var now = new Date();
      var year = now.getFullYear();

      //
      function hasRelative(aPrefix) {
        var hasCalc = null;
        var hasUnitV = null;

        aPrefix = aPrefix || "";
        hasCalc = document.createElement("div");
        hasCalc.style.setProperty(aPrefix + "width", "calc(1px)", "");

        if (!!hasCalc.style.length) {
          hasUnitV = document.createElement("div");
          hasUnitV.style.setProperty(aPrefix + "width", "calc(5vw + 5vw)", "");
        }

        return !!hasCalc.style.length && !!hasUnitV.style.length;
      }

      function hasOurRelative() {
        return hasRelative("-moz-") || hasRelative("-ms-") || hasRelative("-o-") ||
          hasRelative("-webkit-") || hasRelative();
      }

      function calcHeight() {
        return window.innerHeight - {{#newScript}}190{{/newScript}}{{^newScript}}302{{/newScript}};
      }

      function onresize() {
        $("#editor").height(calcHeight);
        editor.resize(true);
      }

      function oninput() {
        var shouldShow = !editor.session.getValue().length;
        var node = editor.renderer.emptyMessageNode;
        if (!shouldShow && node) {
          editor.renderer.scroller.removeChild(editor.renderer.emptyMessageNode);
          editor.renderer.emptyMessageNode = null;
        } else if (shouldShow && !node) {
          node = editor.renderer.emptyMessageNode = document.createElement("div");
          node.textContent = placeholder;
          node.className = "ace_invisible ace_emptyMessage";
          node.style.padding = "0 0.75em";
          editor.renderer.scroller.appendChild(node);
        }
      }

      function onwrap(aEv) {
        if (editor.getSession().getUseWrapMode()) {
          editor.getSession().setUseWrapMode(false);
          aEv.target.classList.remove('active');
        } else {
          editor.getSession().setUseWrapMode(true);
          aEv.target.classList.add('active');
        }
        aEv.target.blur();
      }

      function onchange(aEv) {
        if (isBlocking) {
          return;
        }

        if (!hasChanged) {
          hasChanged = true;

          $('button#submit_code').removeClass('btn-success').addClass('btn-warning');
          $('.ace_gutter-layer').addClass('btn-warning');
        }

        $('#beautify').removeClass('active');
      }

      function beautifyThis(aString) {
        return js_beautify(aString.replace(/[“”]/g, '"').replace(/\t/g, '  '), {
          indent_size: 2,
          indent_char: ' ',
          max_preserve_newlines: 2,
          brace_style: 'end-expand',
          unescape_strings: true,
          space_after_anon_function: true
        }) + '\n';
      }

      function onbeautify(aEv) {
        if (aEv.target.classList.contains('active') && !hasChanged) {
          isBlocking = true;
          editor.getSession().setValue(rawSource);
          aEv.target.classList.remove('active');
          isBlocking = false;

          $('button#submit_code').addClass('btn-success').removeClass('btn-warning');
          $('.ace_gutter-layer').removeClass('btn-warning');

        } else {
          isBlocking = true;
          if (!hasChanged) {
            aEv.target.classList.add('active');
          }

          editor.getSession().setValue(
            beautifyThis(hasChanged ? editor.getSession().getValue() : rawSource));
          isBlocking = false;

          $('button#submit_code').removeClass('btn-success').addClass('btn-warning');
          $('.ace_gutter-layer').addClass('btn-warning');
          onhashchange(null);
        }

        aEv.target.blur();
      }

      function onhashchange(aEv) {
        var hash = null;
        var line = null;
        var lines = editor.getSession().getValue().split('\n').length;
        var matches = window.location.hash.match(/^\#H([0-9a-fA-F]{128})L(\d+)$/);

        // Scroll into
        if ( !$('#beautify').hasClass('active')) {
          if (matches) {
            hash = matches[1];
            line = parseInt(matches[2]);

            if ('{{script.hash}}' === hash) {
              if (line > 0 && line <= lines) {
                editor.resize(true);
                editor.gotoLine(line, 0, true);
                editor.scrollToLine(line - 1, false, true, function () {});
                return;
              }
            }
          }
        }

        // No matches... reset to defaults
        if (!$('#beautify').hasClass('active')) {
          editor.resize(true);
          editor.gotoLine(1, 0, true);
          editor.scrollToLine(0, false, true, function () {});
        }
        window.location.hash = '';
      }

      //
      if (typeof ace !== 'undefined') {
        placeholder = (
          isLib
            ? [
              '// ==UserScript==',
              '// @namespace     https://openuserjs.org/users/' + username,
              '// @exclude       *',
              '',
              '// ==UserLibrary==',
              '// @name          Getting Started with a User Library',
              '// @description   ' +
                'Showing the current basic and recommended format for a Library script.',
              '// @copyright     ' + year + ', ' +  username
                + ' (https://openuserjs.org/users/' + username + ')',
              '// @license       OSI-SPDX-Short-Identifier',
              '// @version       0.0.0',
              '',
              '// ==/UserScript==',
              '',
              '// ==/UserLibrary==',
              '',
              '// ==OpenUserJS==',
              '// @author ' + username,
              '// ==/OpenUserJS==',
              '',
              '/**',
              '  *',
              '  * Please begin typing or paste your User Library now.',
              '  *',
              '  */'
            ] : [
              '// ==UserScript==',
              '// @namespace     https://openuserjs.org/users/' + username,
              '// @name          Getting Started with a User Script',
              '// @description   ' +
                'Showing the current basic and recommended format for a User script.',
              '// @copyright     ' + year + ', ' +  username
                + ' (https://openuserjs.org/users/' + username + ')',
              '// @license       OSI-SPDX-Short-Identifier',
              '// @version       0.0.0',
              '// @include       https://www.example.com/*',
              '// @grant none',
              '// ==/UserScript==',
              '',
              '// ==OpenUserJS==',
              '// @author ' + username,
              '// ==/OpenUserJS==',
              '',
              '/**',
              '  *',
              '  * Please begin typing or paste your User script now.',
              '  *',
              '  */'
            ]
        ).join('\n');

        editor = ace.edit("editor");
        rawSource = editor.getSession().getValue();

        editor.$blockScrolling = Infinity;
        wrap.removeAttr('disabled');
        beautify.removeAttr('disabled');

        $('#submit_code').removeAttr('disabled');

        editor.setTheme("ace/theme/dawn");
        editor.getSession().setMode("ace/mode/javascript");

        {{#readOnly}}editor.setReadOnly(true);{{/readOnly}}
        {{^readOnly}}
        // TODO: Submit using AJAX
        $('#submit_code').click(function () {
          $('#source').val(editor.getValue());
          $('#code_form').submit();
        });
        {{/readOnly}}

        // Some older and newer browser JavaScript work-around for #136
        if (!hasOurRelative()) {
          $("#editor").height(calcHeight());

          if (window.addEventListener) {
            window.addEventListener('resize', onresize, false);
          } else if (window.attachEvent) {
            window.attachEvent('resize', onresize);
          }
        }

        editor.on('input', oninput);
        editor.on('change', onchange);
        wrap.on('click', onwrap);
        beautify.on('click', onbeautify);
        setTimeout(oninput, 250);

        if (window.location.hash) {
          onhashchange(null);
        }

        $(window).on('hashchange', onhashchange);

        editor.on("gutterclick", function (aEv) {
          var gotoLine = aEv.getDocumentPosition().row + 1;
          if (gotoLine) {
            window.location.hash = window.location.hash =
              'H' + '{{script.hash}}' + 'L' + gotoLine;
          }
        });
      }
    });

  })();
</script>
