<script type="text/javascript">
  (function () {
    'use strict';

    {{> includes/scripts/polyfillElementClosest.js }}

    function onInput(aEv) {
      var container = aEv.target.closest('div.input-group');
      var buttonNode = null;

      if (container) {
        buttonNode = container.querySelector('button[type=button].btn-clear');

        if (buttonNode) {
          if (aEv.target.value) {
            buttonNode.classList.remove('hidden');
            // NOTE: Correct a potential *bootstrap* CSS issue
            aEv.target.parentNode.style.width = "100%";
          } else {
            buttonNode.classList.add('hidden');
             // NOTE: Correct a potential *bootstrap* CSS issue
            aEv.target.parentNode.style.width = "101%";
          }
        }
      }
    }

    function onClick(aEv) {
      var target = aEv.target;
      var container = target.closest('div.input-group');
      var inputNode = null;
      var buttonNode = null;
      var ev = null;
      try {
        ev = new Event('input');
      } catch (aE) {
        ev = document.createEvent('Event');
        ev.initEvent('input', true, true);
      }

      if (container) {
        inputNode = container.querySelector('input[type=text].search');

        if (inputNode) {
          if (target.tagName !== 'BUTTON') {
             // NOTE: Correct a weird Chromium/Chrome issue here with icon tag being sometimes hidden instead
            target = aEv.target.closest('button[type=button].btn-clear');
          }
          target.classList.add('hidden');
          inputNode.value = '';
          inputNode.dispatchEvent(ev);
          inputNode.focus();
        }
      }
    }

    function onDOMContentLoaded(aEv) {
      var i = null;
      var thisNode = null;
      var nodes = null;
      try {
        ev = new Event('input');
      } catch (aE) {
        ev = document.createEvent('Event');
        ev.initEvent('input', true, true);
      }

      nodes = document.querySelectorAll('input[type=text].search');
      for (i = 0; thisNode = nodes[i++];) {
        thisNode.addEventListener('input', onInput);
        thisNode.dispatchEvent(ev);
      }

      nodes = document.querySelectorAll('button[type=button].btn-clear');
      for (i = 0; thisNode = nodes[i++];) {
        thisNode.addEventListener('click', onClick);
        thisNode.dispatchEvent(ev);
      }
    }

    document.addEventListener('DOMContentLoaded', onDOMContentLoaded);

  })();
</script>
