{{> header.html}}
<div class="content-box">
{{^isLib}}
  <h2>Collaboration</h2>
  To allow other users to upload modified versions of your script to your account, add <code>@author {{username}}</code><br />to the metadata of your script, along with <code>@collaborator <strong>username</strong></code><br />for every user you wish to give write access. Only the real author of the script can modify these metadata keys.<br />Collaborators cannot use GitHub integration to update the script. Add them as collaborators to the GitHub repo instead.
  {{#hasGH}}
  <h2>GitHub Webhook</h2>
  <p>
    To keep scripts you've imported from GitHub up-to-date on OpenUserJS.org when you push changes:<br>
    <ol>
      <li>Add a Webhook (in the repo settings) to the repos containing the script(s)</li>
      <li>Paste the URL below as the "Payload URL"</li>
      <li>Click "Add webhook"</li>
    </ol>
    <input type="text" size="50" value="https://openuserjs.org/github/hook" />
  </p>
  {{^showRepos}}
  <p class="indent content">
    <form id="load_repos" action="/user/add/scripts" method="post">
      <input type="hidden" name="importScripts" value="true" />
      <input type="submit" value="Find {{#isLib}}a Library Script{{/isLib}}{{^isLib}}Scripts{{/isLib}} On GitHub" />
    </form>
  </p>
  {{/showRepos}}
  {{/hasGH}}
  {{/isLib}}
  {{^showRepos}}
  <h2>Upload {{#isLib}}Library{{/isLib}} Script</h2>
  <form action="/user/add/{{#isLib}}lib{{/isLib}}{{^isLib}}scripts{{/isLib}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="uploadScript" value="true" />
    {{#isLib}}
    <strong>Library Name: </strong>
    <input type="text" name="script_name" value="" /><br /><br />
    {{/isLib}}
    <input type="file" name="script" />
    <input type="submit" value="Upload" />
  </form>
  <h2>{{#isLib}}<a href="/user/add/lib/new">Write a New Library Script</a>{{/isLib}}{{^isLib}}<a href="/user/add/scripts/new">Write a New Script</a>{{/isLib}}</h2>
  {{/showRepos}}
  {{#showRepos}}
  <form id="load_scripts_from_github" method="post" action="/user/add/scripts">
    <input type="hidden" name="loadScripts" value="true" />
    {{#repos}}
    <p class="indent">
      <input type="checkbox" name="{{{repo}}}_all" value="{{{repo}}}" />
      <strong><a href="https://github.com/{{{user}}}/{{{repo}}}">{{repo}}</a></strong><br />
      {{#scripts}}
      <input type="checkbox" name="{{{repo}}}[{{{name}}}]" value="true"/>
      <a href="{{{url}}}">{{name}}</a><br />
      {{/scripts}}
    </p>
    {{/repos}}
    <input type="submit" value="Load Scripts" />
  </form>
  {{/showRepos}}
</div>

{{> footer.html}}
