{{#commentsList}}
<section class="scripts-section">
  {{#comments}}
  <ul class="scripts-list" id="comment-{{id}}">
    <li class="script">
      <h2 class="script-title"><a class="script-title-anchor" href="/users/{{author}}">{{author}}</a></h2>
      <table width="100%">
	<tr class="home-row">
	  <td class="home-col1"><a href="#comment-{{id}}">{{created}}</a></td>
	  <td class="home-col2">{{rating}}</td>
	  <td class="home-col3">points</td>
	</tr>
      </table>					
      <p class="script-description user-content">{{{content}}}</p>
    </li>
  </ul>
  {{/comments}}
  <br />
  {{> pagination.html}}
</section>
{{/commentsList}}
