{{> header.html}}
<div class="centered-content">
  <h1 class="pop-scripts-header">{{topic}}</h1>
</div>
{{#username}}
<div class="content-box creation-box">
 <form id="post_comment" action="{{path}}" method="post">
    <strong>Use <a target="_blank" href="https://help.github.com/articles/github-flavored-markdown">GitHub Flavored Markdown</a> for formatting.</strong><br />
{{#commentId}}
<input type="hidden" id="comment-id" name="comment-id" value="{{commentId}}" />
{{/commentId}}
    <textarea class="indent" id="comment-content" name="comment-content" rows="10" style="width: 40%;">{{editContent}}</textarea><br />
    <input type="submit" value="Submit" />
  </form>
</div>
{{/username}}
<br />
<div class="centered-content">
{{> commentsList.html}}
</div>
{{> footer.html}}
