{{> header.html}}

<div id="main">
  <pre id="editor">{{{source}}}</pre>
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/cobalt");
    editor.getSession().setMode("ace/mode/javascript");
    {{#readOnly}}editor.setReadOnly(true);{{/readOnly}}
    {{^readOnly}}
    function submitCode() {
      var form = document.getElementById('code_form');
      var source = document.getElementById('source');
      source.value = editor.getValue();
      form.submit();
    }
    {{/readOnly}}
</script>
{{^readOnly}}
<form action="/user/edit/scripts/new" id="code_form" method="post">
  <input type="hidden" id="source" name="source" value="" />
  <input type="hidden" name="url" value="{{url}}" />
  <input type="button" onclick="submitCode();" value="Submit Code{{^owner}} as Fork{{/owner}}" />
</form>
{{/readOnly}}
</div>

{{> footer.html}}
