{{> header.html}}
<div class="centered-content">
  <h1 class="pop-scripts-header">Flagged for Removal</h1>
</div>
<div class="content-box creation-box">
  <h2>Content Type</h2>
{{#usersType}}
  <strong>Users</strong>
{{/usersType}}
{{^usersType}}
  <a href="/flagged/users">Users</a>
{{/usersType}} |
{{#scriptsType}}
  <strong>Scripts</strong>
{{/scriptsType}}
{{^scriptsType}}
  <a href="/flagged/scripts">Scripts</a>
{{/scriptsType}}
</div>
<br /><br />
<div class="centered-content">
{{> usersList.html}}
{{> scriptsList.html}}
</div>
{{> footer.html}}
