<!DOCTYPE html>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
        <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
        <title>{{title}}</title>

        <script type="text/javascript">
            // sloppy code atm, just for easy testing
            function calculateElementHeights() {
                var body = $(document.body);
                var top = $('#top');
                var main = $('#main');
                var footer = $('#footer');
                var scriptsList = $('#scripts-list');
                var wHeight = Math.floor(window.innerHeight);
                var wWidth = Math.floor(window.innerWidth);

                body.css('height', wHeight + 'px');
                body.css('width', wWidth + 'px');
                main.css('max-width', wWidth + 'px')
                    .css('max-height', Math.floor(wHeight - top.height() - footer.height()) + 'px');
            }

            $(window).on('resize', calculateElementHeights);
            $(document).ready(calculateElementHeights);
        </script>
    </head>

    <body>
        <div id="top" class="bold">
            <a href="/">Home</a>
            <a href="/scripts">Scripts</a>
            <a href="/forum">Forum</a>
            <a href="/login">Login</a>
        </div>

        <div id="main">
            <div class="spacer" style="height: 15%;">
                &nbsp;
            </div>

        {{#username}}
        <p>Welcome {{username}}! <a href="/logout">Logout?</a></p>
        {{/username}}
        {{^username}}
        <div id="login">
          <h3>Login (or Register)</h3>
          <form id="login" method="post" action="/auth/">
            <p>Input your username (or the one you want):</p>
            <input type="text" name="username" /><br />
            <p>To Register: select an authenticator from the dropdown.</p>
            <p>You can leave it blank if you're logging in.</p>
            <select name="auth">
              {{#strategies}}
              <option value="{{strat}}">{{display}}</option>
              {{/strategies}}
            </select>
            <input type="submit" value="Go!" />
          </form>
          <p><em>Note: If you need an authenticator, the easiest way is to get
              an OpenID from <a href="http://claimid.com/">claimID</a>.</em>
          </p>
        </div>
        {{/username}}

            <BR /><BR />

            <table id="scripts-list" class="indent">
                <tr class="bold">
                    <td width="50%">
                        Name & Description
                    </td>
                    <td width="15%">
                        Rating
                    </td>
                    <td width="15%">
                        Installs
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <span class="title">test name</span>
                        <span class="desc">a test script that tests things</span>
                    </td>
                    <td width="15%">
                        &#9733; &#9733; &#9733; &#9733; &#9733;
                    </td>
                    <td width="15%">
                        12,561,582
                    </td>
                </tr>
            </table>
        </div>

        <div id="footer">
            <p>An <a class="color-normal" href="https://github.com/OpenUserJs/OpenUserJS.org" target="_blank">open source</a> user scripts repo built using Node.js</p>
        </div>
    </body>

</html>
