{{> header.html}}

        <div id="main">
            <div class="spacer" style="height: 15%;">
                &nbsp;
            </div>

        {{#username}}
        <p>Welcome <a href="/users/{{username}}">{{username}}</a>!</p>
        {{/username}}
        {{^username}}
        <p>Welcome stranger! <a href="/login">Login?</a>
        {{/username}}

            <BR /><BR />

            <table id="scripts-list" class="indent">
                <tr class="bold">
                    <td width="50%">
                        Name & Description
                    </td>
                    <td width="15%">
                        Rating
                    </td>
                    <td width="15%">
                        Installs
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <span class="title">test name</span>
                        <span class="desc">a test script that tests things</span>
                    </td>
                    <td width="15%">
                        &#9733; &#9733; &#9733; &#9733; &#9733;
                    </td>
                    <td width="15%">
                        12,561,582
                    </td>
                </tr>
            </table>
        </div>

{{> footer.html}}
