{{> header.html}}
  
<div class="content-box">
  <div class="register-group">
    <h3 class="pop-scripts-header">Register</h3>
    <form id="register" method="post" action="/auth/">
      <p>Choose a username:</p>
      <input type="text" name="username" value="{{wantname}}"/><br />
      <p>To Register: select an authenticator from the dropdown.</p>
      <select name="auth">
        {{#strategies}}
        <option value="{{strat}}">{{display}}</option>
        {{/strategies}}
      </select>
      <input type="submit" value="Register" />
    </form>
  </div>
</div>
<br /><br />
{{> footer.html}}
