{{> header.html}}
<div class="content-box">
  <section class="sr-section">
    
    <h1 class="sr-script-title">About {{name}}</h1>
    
    <button class="install-button" title="Install"
	    type="button" onclick="location.href='{{{install}}}'" >
      {{#isLib}}Raw{{/isLib}}{{^isLib}}Install{{/isLib}}
    </button>
    <button class="view-source-button" title="View Source"
	    type="button" onclick="location.href='{{{source}}}'" >
      Edit Source
    </button>
  </section>
  <br /><br />
  <form id="edit_about" action="edit" method="post">
    <textarea class="indent" id="about" name="about">{{about}}</textarea><br />
    <strong>Delete Script:</strong>&nbsp;<input type="checkbox" name="remove" />
    <br /><br /><input type="submit" value="Save" />
  </form>
</div>
{{> footer.html}}
