{{> header.html}}
<div class="content-box">
  <section class="sr-section">
    
    <h1 class="sr-script-title">{{name}}{{#version}}&nbsp;-&nbsp;<span class="version">{{version}}</span>{{/version}}{{#isYou}}&nbsp;-&nbsp;<a href="{{{edit}}}">Edit?</a>{{/isYou}}</h1>
    {{#isLib}}
    <span class="lib-url"><strong>Library URL: </strong><input type="text" name="lib_url" value="https://openuserjs.org{{{install}}}" size="50"/></span><br /><br />
    {{/isLib}}
    {{^isLib}}
    <a href="{{{install}}}">
      <button class="install-button" title="Install" type="button">
        Install
      </button>
    </a>
    {{/isLib}}
    <a href="{{{source}}}">
      <button class="view-source-button" title="View Source" type="button">
        View Source
      </button>
    </a>
    {{#voteable}}
    <a href="{{{upUrl}}">
      <button class="{{#up}}button-selected{{/up}}" title="Up Vote" 
              type="button">
        Up Vote
      </button>
    </a>
    <a href="{{{downUrl}}}">
      <button class="{{#down}}button-selected{{/down}}" title="Down Vote"
	      type="button">
        Down Vote
      </button>
    </a>
    {{/voteable}}
    {{#flaggable}}
    <a href="{{{flagUrl}}}">
      <button class="{{#flagged}}button-selected{{/flagged}}" title="{{#flagged}}Unflag{{/flagged}}{{^flagged}}Flag{{/flagged}}"
	      type="button">
        {{#flagged}}Unflag{{/flagged}}{{^flagged}}Flag{{/flagged}}
      </button>
    </a>
    {{/flaggable}}
    <p class="sr-description">{{description}}</p>
    <table width="100%">
      <tr class="sr-row">
	<td class="sr-col1">Author:</td>
	<td class="sr-col2"><a href="/users/{{author}}">{{author}}</a></td>
      </tr>
      {{#hasCollab}}
      <tr class="sr-row">
	<td class="sr-col1">Collaborators:</td>
	<td class="sr-col2">
          {{#collaborators}}
          <a href="/users/{{name}}">{{name}}</a><br />
          {{/collaborators}}
        </td>
      </tr>
      {{/hasCollab}}
      <tr class="sr-row">
	<td class="sr-col1">Last Update:</td>
	<td class="sr-col2">{{updated}}</td>
      </tr>
      <tr class="sr-row">
	<td class="sr-col1">Rating:</td>
	<td class="sr-col2">{{rating}}</td>
      </tr>
      {{^isLib}}
      <tr class="sr-row">
	<td class="sr-col1">Installs:</td>
	<td class="sr-col2">{{installs}}</td>
      </tr>
      {{#hasGroups}}
      <tr class="sr-row">
	<td class="sr-col1">Groups:</td>
	<td class="sr-col2">
          {{#groups}}
          <a href="/group/{{{url}}}">{{name}}</a><br />
          {{/groups}}
        </td>
      </tr>
      {{/hasGroups}}
      {{#usesLibs}}
      <tr class="sr-row">
	<td class="sr-col1">Uses Libraries:</td>
	<td class="sr-col2">
          {{#libs}}
          <a href="/libs/{{{url}}}">{{name}}</a><br />
          {{/libs}}
        </td>
      </tr>
      {{/usesLibs}}
      {{/isLib}}
      {{#usedBy}}
      <tr class="sr-row">
	<td class="sr-col1">Used By:</td>
	<td class="sr-col2">
          <a href="{{{url}}}">{{count}} script{{#multiple}}s{{/multiple}}</a>
        </td>
      </tr>
      {{/usedBy}}
      {{#moderation}}
      <tr class="sr-row">
	<td class="sr-col1">Moderation:</td>
	<td class="sr-col2">Flags = {{flags}} | Threshold = {{threshold}}  | <a href="{{{removeUrl}}}">Remove This Script?</td>
      </tr>
      {{/moderation}}
      {{#isFork}}
      <tr class="sr-row">
        <td class="sr-col1">Fork History</td>
        <td class="sr-col2">
          {{#fork}}
          {{#first}}<a href="/script/{{{url}}">Forked</a>{{/first}}{{^first}}who <a href="/script/{{{url}}">forked</a>{{/first}}{{^original}} from <a href="/users/{{{author}}}">{{author}}</a><br />{{/original}}{{#original}} the original</a> by <a href="/users/{{{author}}}">{{author}}</a>{{/original}}{{/fork}}</td>
</tr>
{{/isFork}}
</table>					
{{#about}}<hr /><div class="user-content">{{{about}}}</div>{{/about}}
</section>
</div>
{{> footer.html}}
