{{> header.html}}
<div class="content-box">
  <section class="sr-section">
    <div>
      <h1 class="sr-script-title">{{name}}{{#version}}&nbsp;-&nbsp;<span class="version">{{version}}</span>{{/version}}</h1>
      {{#voteable}}
      <div class="voting-div">
        <a class="button-anchor up-arrow" href="{{{upUrl}}">
          <img src="{{#up}}/images/up-vote-green.png{{/up}}{{^up}}/images/up-vote-grey.png{{/up}}" />
        </a>
        <a class="button-anchor down-arrow" href="{{{downUrl}}}">
          <img src="{{#down}}/images/down-vote-red.png{{/down}}{{^down}}/images/down-vote-grey.png{{/down}}" />
        </a>
      </div>
      <span class="header-rating">Rating: {{rating}}</span>
      {{/voteable}}
    </div>
    {{#isLib}}
    <span class="lib-url"><strong>Library URL: </strong><input type="text" name="lib_url" value="https://openuserjs.org{{{install}}}" size="50" /></span>
    {{/isLib}}
    <div class="sr-main-buttons">
      {{^isLib}}
      {{#isYou}}
      <a class="button-anchor" href="{{{edit}}}">
        <button class="sr-button sr-edit-button" title="Edit" type="button">
          Edit Mode
        </button>
      </a>
      {{/isYou}}
      <a class="button-anchor" href="{{{install}}}">
        <button class="sr-button sr-install-button" title="Install" type="button">
          Install
        </button>
      </a>
      {{/isLib}}
      {{#flaggable}}
      <a class="button-anchor" href="{{{flagUrl}}}">
        <button class="sr-flag-button" title="{{#flagged}}Unflag{{/flagged}}{{^flagged}}Flag{{/flagged}}"
                type="button">
          {{#flagged}}<img src="/images/red-flag.png" />{{/flagged}}{{^flagged}}<img src="/images/white-flag.png" />{{/flagged}}
        </button>
      </a>
      {{/flaggable}}
    </div>
    <a class="button-anchor" href="{{{source}}}">
      <button class="sr-button sr-source-button lib-source-button" title="View Source" type="button">
        View Source
      </button>
    </a>
    {{^isLib}}<p class="sr-description">{{description}}</p>{{/isLib}}
    <table width="100%">
      <tr class="sr-row">
        <td class="sr-col1">Author:</td>
        <td class="sr-col2"><a href="/users/{{author}}">{{author}}</a></td>
      </tr>
      {{#hasCollab}}
      <tr class="sr-row">
        <td class="sr-col1">Collaborators:</td>
        <td class="sr-col2">
          {{#collaborators}}
          <a href="/users/{{name}}">{{name}}</a><br />
          {{/collaborators}}
        </td>
      </tr>
      {{/hasCollab}}
      <tr class="sr-row">
        <td class="sr-col1">Last Update:</td>
        <td class="sr-col2">{{updated}}</td>
      </tr>
      <tr class="sr-row">
        <td class="sr-col1">Rating:</td>
        <td class="sr-col2">{{rating}}</td>
      </tr>
      {{^isLib}}
      <tr class="sr-row">
        <td class="sr-col1">Installs:</td>
        <td class="sr-col2">{{installs}}</td>
      </tr>
      <tr class="sr-row">
        <td class="sr-col1">Issues:</td>
        <td class="sr-col2">
          <a href="{{{issuesUrl}}}">{{issuesCount}} open issues</a><br />
        </td>
      </tr>
      {{#hasGroups}}
      <tr class="sr-row">
        <td class="sr-col1">Groups:</td>
        <td class="sr-col2">
          {{#groups}}
          <a href="/group/{{{url}}}">{{name}}</a><br />
          {{/groups}}
        </td>
      </tr>
      {{/hasGroups}}
      {{#usesLibs}}
      <tr class="sr-row">
        <td class="sr-col1">Uses Libraries:</td>
        <td class="sr-col2">
          {{#libs}}
          <a href="/libs/{{{url}}}">{{name}}</a><br />
          {{/libs}}
        </td>
      </tr>
      {{/usesLibs}}
      {{/isLib}}
      {{#usedBy}}
      <tr class="sr-row">
        <td class="sr-col1">Used By:</td>
        <td class="sr-col2">
          <a href="{{{url}}}">{{count}} script{{#multiple}}s{{/multiple}}</a>
        </td>
      </tr>
      {{/usedBy}}
      {{#moderation}}
      <tr class="sr-row">
        <td class="sr-col1">Moderation:</td>
        <td class="sr-col2">Flags = {{flags}} | Threshold = {{threshold}} | <a href="{{{removeUrl}}}">Remove This Script?</a></td>
      </tr>
      {{/moderation}}
      {{#isFork}}
      <tr class="sr-row">
        <td class="sr-col1">Fork History</td>
        <td class="sr-col2">
          {{#fork}}
          {{#first}}<a href="/script/{{{url}}">Forked</a>{{/first}}
          {{^first}}who <a href="/script/{{{url}}">forked</a>{{/first}}
          {{^original}} from <a href="/users/{{{author}}}">{{author}}</a><br />{{/original}}
          {{#original}} the original by <a href="/users/{{{author}}}">{{author}}</a>{{/original}}
          {{/fork}}
        </td>
      </tr>
      {{/isFork}}
    </table>
    <hr />
    <p>Have a feature request or found a bug? <a href="{{{openIssueUrl}}}">Let the author know.</a></p>
    {{#about}}<hr /><div class="user-content">{{{about}}}</div>{{/about}}
  </section>
</div>
{{> footer.html}}
