<html>
<head>
  <title>User Administration</title>
</head>
<body>
  {{^user}}
  <form method="post" action="/admin/user/update">
    {{#users}}
    <strong><a href="/admin/user/{{{id}}}">{{name}}</a></strong> | Role:
    <select name="user[{{{id}}}]">
      {{#roles}}
      <option value="{{{val}}}" {{#selected}}selected="{{selected}}"{{/selected}}>{{display}}</option>
      {{/roles}}
    </select> | Remove:
    <input type="checkbox" name="remove[{{{id}}}]" value=""><br />
    {{/users}}
    <input type="submit" value="Update" />
  </form>
  {{/user}}
  {{#user}}
  <pre>{{{info}}}</pre>
  {{/user}}
</body>
</html>
<html>
