body { 
	background: url(/images/bg.png);
	font-size: 62.5%;
	font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4{
	font-family: 'Squada One', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #004e70;
}

h5,h6{
	color: #004e70;
}
button{
	font-family: 'Squada One', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #004e70;
}
ul.scripts-list
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/************************************
 * Main Site Navigation Bar Stylings
 ************************************/
#nav-bar{
	background: #dce5de; 
	width: 100%;
}
#nav-buttons{
}
.nav-button-label{
	font-family: 'Squada One', cursive, sans-serif;
	font-weight: 400;
	color: #004e70;
	font-size: 1.9em;
	margin: 5px 0;
}
.button-div{
	display: inline-block;
	/* The width for each div should be 20% (192px) for 
	 * allowing dynamic page resizing. */
	
	/* The following margins space and center buttons
	 * evenly and give masthead hourglass vs grid look.*/
	margin: 0 14px;
	
	/* This margin setting styles the buttons as inline
	 * with the page as a straight grid. */
	/*margin : 10px 0 10px 36px;
	position: relative;
	left: 3px;*/

}
.nav-button{
	border-width: 2px;
	border-radius: 8px;
	background-color: transparent;
	padding: 0;
	height: 160px;
	width: 160px;
	margin: auto;
}
button:disabled{
	opacity: .5;
}
button:first-child{
	margin: 10px 0;
}
/************************************
 * Site Centering 
 ************************************/
.centered-content{
	width: 960px;
	margin: auto;
}
.content-box{   
	/* This class is temporarily
	 * to be used for stying content
	 *  boxes for quick development */
	width: 960px;
	margin: auto;
	background: white;
}
/****************************
 * Masthead Specific Styling
 ****************************/
#tophead{
	height: 120px;
	overflow: hidden;
}
#logo{
	float: left;
	padding-bottom: 50px;
	margin-top: 50px;
	font-size: 4.8em;
}
#logo-anchor{
	color: #004e70;
	text-decoration: none;
}
#login-form{
	float: right;
	padding-bottom: 50px;
	margin-top: 68px;
	font-size: 1.7em
}

/**************************
 * Footer Specific Styling
 **************************/
footer{
	background: #3D6680;
	clear: both;
	padding: 12px 0 1px 0;
	font-size: 1.6em;
	color: white;
}
footer a{
	color: white;
}
.footer-link{
	padding-right: 10px;
}

/**************************
 * Footer Specific Styling
 **************************/
.search-input{
	font-size: 2.2em;
	width: 500px;
	position: relative;
	top: 10px;
	padding: 2px 5px;
	margin-left: 8px;
}
.pop-scripts-header{
	font-size: 3.2em;
	margin: 25px 0 5px 8px;
}


/**************************
 * Unique Script Page Style
 **************************/
.sr-script-title{
	font-size: 3.4em;
	margin: 16px 0 10px 0;
	display: inline;
}
.voting-div{
	display: inline;
	margin-left: 12px;
}
.up-arrow{
	position: relative;
	top: -10px;
}
.down-arrow{
	position: relative;
	top: 12px;
	left: -29px;
}
.header-rating{
	font-size: 2em;
	color: #004e70;
	position: relative;
	left: -24px;
	top: -4px;
}
.sr-section{
	padding: 10px;
	margin: 15px 0;
}
.sr-button{
	height: 40px;
	font-size: 2.0em;
}
.sr-edit-button{
	font-size: 1.6em;
	position: relative;
	top: -2px;
}
.sr-flag-button{
}
.sr-source-button{
	width: 130px;
	height: 25px;
	font-size: 1.6em;
	position: relative;
	top: -16px;
}
.sr-install-button{
	margin: 3px 0 5px 0;
	width: 130px;
}
.sr-section table,.sr-section p{
	font-size: 1.6em;
}
table{
	width: 95%;
}
.sr-col1{
	width: 140px;
	vertical-align: top;
}
.sr-col2{
	vertical-align: top;
}
.sr-description{
	padding: 8px 0;
	border-top: solid 1px #414042;
	border-bottom: solid 1px #414042;
	margin: 5px 0;
}
.button-selected{
	background-color: gray;
	color: white;
}
.button-anchor{
	text-decoration: none;
}

/**************************
 * Registration Page Style
 **************************/
.register-group{
	margin: 20px 0 20px 100px;
	font-size: 1.6em;
}

/**************************
 * User Page Styles
 **************************/
.moderator-box{
	background: #FF9966;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.mod-header{
	display: inline;
	position: relative;
	top: 5px;
	margin: 0 20px;
}
.user-about{
	font-size: 1.6em;
}
.user-flag{
	position: relative;
	top: 2px;
	left: -4px;
}
.about-header{
	font-size: 1.3em;
	margin: 15px 0;
}
.about-content{
	margin: 15px 15px;
}
#flagged-button{
	margin-right: 8px;
}
#user-edit{
}
