<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-heading">
          Sessions
        </h2>
        {{#paginationRendered}}
        <div class="text-center collapse">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
        <div class="session-area list-group">
          {{#sessionList}}
            {{> includes/session.html }}
          {{/sessionList}}
          {{^sessionList}}
          <div class="panel">
            <div class="panel-body">
              <em>This user hasn't added any sessions yet.</em>
            </div>
          </div>
          {{/sessionList}}
        </div>
        {{#paginationRendered}}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
      </div>
      <div class="col-sm-4">
        {{> includes/searchBarPanel.html }}
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{#paginationRendered}}
    {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
  {{> includes/scripts/formControlClear.html }}
</body>
</html>
