<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="list-controls row container-fluid">
          <ol class="breadcrumb pull-left">
            <li><a href="/forum">Forum</a></li>
            <li class="active"><a href="{{{category.categoryPageUrl}}}">{{category.name}}</a></li>
          </ol>
          <a href="{{{category.categoryPostDiscussionPageUrl}}}" class="btn btn-success pull-right {{^canPostTopicToCategory}}disabled{{/canPostTopicToCategory}}" id="create-topic">
            <i class="fa fa-plus"></i> Create Topic
          </a>
        </div>
        {{#paginationRendered}}
        <div class="text-center collapse">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
        <div class="panel panel-default">
          {{> includes/discussionList.html }}
        </div>
        {{#paginationRendered}}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{#paginationRendered}}
    {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
  {{> includes/scripts/tableTrLinkScript.html }}
</body>
</html>
