<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap-markdown.css">
  <style>
    #show-reply-form-when-visible {
      height: 100px;
    }
  </style>
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            <div class="topic-title row container-fluid">
              <ol class="breadcrumb pull-left">
                <li><a href="/forum">Forum</a></li>
                <li><a href="{{{category.categoryPageUrl}}}">{{category.name}}</a></li>
                <li class="active"><a href="{{{discussion.discussionPageUrl}}}">{{discussion.topic}}</a></li>
              </ol>
            </div>
            <div class="container-fluid comments">
              <div class="row">
                <section class="topic-area list-group">
                  {{#commentList}}
                  {{> includes/comment.html }}
                  {{/commentList}}
                  <div class="text-center">
                    {{{paginationRendered}}}
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid col-sm-4">
      </div>
    </div>
  </div>
  <div id="show-reply-form-when-visible"></div>
  {{> includes/commentForm.html }}
  {{> includes/footer.html }}
  <!-- Markdown Editor -->
  <script type="text/javascript" src="/js/marked.js"></script>
  <script type="text/javascript" src="/js/bootstrap-markdown.js"></script>
  {{> includes/scripts/commentReplyScript.html }}
</body>
</html>
