<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/css/documentPage.css">
</head>
<body id="body">
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h2 class="page-heading">
          {{pageHeading}}
        </h2>
        <div class="panel panel-default">
          <div class="panel-body">
            {{#pageData}}{{{pageData}}}{{/pageData}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
