<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/css/documentPage.css">
</head>
<body id="body">
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      {{#isAbout}}
      <div class="container-fluid">
        <h2 class="page-heading">
          About
        </h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3><a name="welcome"></a>Welcome<a class="anchor" href="#welcome"><em class="fa fa-link"></em></a></h3>
            <p>Welcome to {{#pkg.name}}{{pkg.name}} <em>(OUJS)</em>{{#pkg.version}} v{{pkg.version}}{{/pkg.version}}{{/pkg.name}}{{#process.version}} using Node {{process.version}}{{/process.version}}{{#lastRestart}} last restarted on {{lastRestart}}{{/lastRestart}}.</p>
            <h3><a name="mission"></a>Mission<a class="anchor" href="#mission"><em class="fa fa-link"></em></a></h3>
            <em>(To be announced)</em>
            <h3><a name="getting-started"></a>Getting Started<a class="anchor" href="#getting-started"><em class="fa fa-link"></em></a></h3>
            <p>For getting started with Userscripts please check out the <a href="/about/Userscript-Beginners-HOWTO">Userscript Beginners HOWTO</a>.</p>
          </div>
        </div>
      </div>
      {{/isAbout}}
      {{^isAbout}}
        <div class="col-sm-8">
          <h2 class="page-heading">
            <a href="/about">About</a> / {{pageHeading}}
          </h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="document-content" class="document-content">
                {{#pageData}}{{{pageData}}}{{/pageData}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title"><em class="fa fa-fw fa-file-text-o"></em> Pages</div>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                {{#files}}<li class="list-group-item"><a href="{{{href}}}">{{textContent}}</a></li>{{/files}}</li>
              </ul>
            </div>
          </div>
        </div>
      {{/isAbout}}
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
