<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <form action="/auth/" method="post" class="form-signin">
        <input type="hidden" name="redirectTo" value="{{{redirectTo}}" />
        <h3>
          Login
          <span class="help-block small">Enter your unique name for this site.</span>
        </h3>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input class="form-control" type="text" name="username" value="{{wantname}}" placeholder="Username"{{#wantname}} disabled="disabled"{{/wantname}}>
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit"{{#wantname}} disabled="disabled"{{/wantname}}>Next <i class="fa fa-sign-in fa-fw"></i></button>
          </span>
        </div>
      </form>
    </div>
    <div class="row">
      <form action="/auth/" method="post" class="form-register">
        <input type="hidden" name="redirectTo" value="{{{redirectTo}}" />
        <h3>
          Register
          <span class="help-block small">Attach your preferred <a href="http://www.wikipedia.org/wiki/OAuth">OAuth</a>/<a href="http://www.wikipedia.org/wiki/OpenID">OpenID</a> service to your sanitized unique name.</span>
        </h3>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input class="form-control" type="text" name="username" value="{{wantname}}" placeholder="Username"{{^wantname}} disabled="disabled"{{/wantname}}>
          <span class="input-group-btn">
            <select name="auth" class="btn btn-addon-default" style="border-radius: 0px;">
              {{#strategies}}
              <option value="{{strat}}" {{#selected}}selected="selected"{{/selected}}{{^wantname}} disabled="disabled"{{/wantname}}>{{display}}</option>
              {{/strategies}}
            </select>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit"{{^wantname}} disabled="disabled"{{/wantname}}>Register <i class="fa fa-sign-in fa-fw"></i></button>
          </span>
        </div>
        <div class="alert alert-warning small" role="alert">
          <i class="fa fa-exclamation-triangle"></i> <strong>CAUTION</strong>: The unique Username that you choose to attach here will be displayed to everyone as shown above. It is strongly recommended to <strong>not</strong> use an email address.<br><br>Additional changes to the Username above may include additional sanitizing for web friendly urls and Userscript engine compatibility. If you wish to see the sanitization changes please reload this page and start over.
        </div>
      </form>
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
