<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  {{#hasCaptcha}}
  <script src="https://js.hcaptcha.com/1/api.js" async="async" defer="defer"{{#nonce}} nonce="{{nonce}}"{{/nonce}}></script>
  {{/hasCaptcha}}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <form action="/auth/" method="post" class="form-register">
        <input type="hidden" name="redirectTo" value="{{#redirectToo}}{{redirectToo}}{{/redirectToo}}{{^redirectToo}}{{redirectTo}}{{/redirectToo}}" />
        <h3>
          Login
          <span class="help-block small">Enter your username for our site to use with your preferred <a href="https://www.wikipedia.org/wiki/OAuth">OAuth</a>/<a href="https://www.wikipedia.org/wiki/OpenID">OpenID</a> service.</span>
        </h3>
        <noscript>
          <div class="alert alert-danger small" role="alert">
            <i class="fa fa-exclamation-triangle"></i> <strong>WARNING</strong>: JavaScript must be enabled for new and probationary users to register.
          </div>
        </noscript>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user fa-fw"></i>
          </span>
          <div class="form-group form-group-signin has-feedback has-clear">
            <input class="search form-control" type="text" name="username" value="{{wantname}}" placeholder="Username" spellcheck="false" autofocus="autofocus" autocomplete="username" autocorrect="off" autocapitalize="off" required="required">
            <span class="form-control-feedback form-control-clear fa fa-times hidden"></span>
            <div class="alert alert-warning alert-signin small" role="alert">
              <i class="fa fa-exclamation-triangle"></i> <strong>CAUTION</strong>: The Username that you choose to login with will be displayed to everyone. It is strongly recommended to <strong>not</strong> attempt to use an email address.
            </div>
          </div>
          <select name="auth" class="form-control">
            {{#strategies}}
            <option value="{{strat}}" {{#selected}}selected="selected"{{/selected}}>{{display}}{{#disabled}} &#x1D3F;&#x1D3C;{{/disabled}}</option>
            {{/strategies}}
          </select>
          <div class="width-100">
            <div class="input-group-addon">
              {{#hasCaptcha}}
              <div class="h-captcha" data-sitekey="{{hasCaptcha}}"></div>
              {{/hasCaptcha}}
              <p>
                <ul class="nav nav-pills nav-justified">
                  <li><a href="/about/Terms-of-Service"><i class="fa fa-legal"></i> Terms of Service</a></li>
                  <li><a href="/about/Privacy-Policy"><i class="fa fa-user-secret"></i> Privacy Policy</a></li>
                </ul>
              </p>
              <p>
                <label for="consent" class="small white-space-normal"><input type="checkbox" id="consent" name="consent" value="true" required="required"> I understand and agree to these binding terms &amp; policies.</label>
              </p>
            </div>
          </div>
        </div>
        <div class="input-group-addon">
          <button class="btn btn-danger" type="submit" id="action" class="pull-left">Next <i class="fa fa-sign-in fa-fw"></i></button>
        </div>
      </form>
      </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/scripts/loginEcho.html }}
  {{> includes/scripts/formControlClear.html }}
</body>
</html>
