<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Flagged Items</h3>
        <p>These are items over their threshold.</p>
        <div class="list-group">
          <a href="/?flagged={{#isAdmin}}critical{{/isAdmin}}{{^isAdmin}}true{{/isAdmin}}" class="list-group-item">
            <i class="fa fa-fw fa-file-code-o"></i> <i class="fa fa-fw fa-flag-o"></i> Flagged Userscripts
          </a>
          <a href="/?library=true&flagged={{#isAdmin}}critical{{/isAdmin}}{{^isAdmin}}true{{/isAdmin}}" class="list-group-item">
            <i class="fa fa-fw fa-file-excel-o"></i> <i class="fa fa-fw fa-flag-o"></i> Flagged Libraries
          </a>
          <a href="/users?flagged={{#isAdmin}}critical{{/isAdmin}}{{^isAdmin}}true{{/isAdmin}}" class="list-group-item">
            <i class="fa fa-fw fa-user"></i> <i class="fa fa-fw fa-flag-o"></i> Flagged Users
          </a>
        </div>
        <h3>Removed Items</h3>
        <div class="list-group">
          <a href="/mod/removed" class="list-group-item">
            <i class="fa fa-fw fa-ban"></i> Graveyard (Removed Items)
          </a>
        </div>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
