<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-heading">
          Removed Items
        </h2>
        {{#paginationRendered}}
        <div class="text-center collapse">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
        <div class="panel panel-default">
          {{> includes/removedItemList.html }}
        </div>
        {{#paginationRendered}}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
      </div>
      <div class="col-sm-4">
        {{> includes/searchBarPanel.html }}
        <h3>Filters</h3>
        <div class="list-group">
          <a href="./removed" class="list-group-item"><i class="fa fa-fw fa-times"></i> Clear search</a>
          <a href="?q=User" class="list-group-item"><i class="fa fa-fw fa-search"></i> Users</a>
          <a href="?q=Script" class="list-group-item"><i class="fa fa-fw fa-search"></i> Scripts</a>
          <a href="?q=Comment" class="list-group-item"><i class="fa fa-fw fa-search"></i> Comments</a>
          <a href="?q=Discussion" class="list-group-item"><i class="fa fa-fw fa-search"></i> Discussion</a>
          <a href="?q=Flag" class="list-group-item"><i class="fa fa-fw fa-search"></i> Flags</a>
          <a href="?q=Group" class="list-group-item"><i class="fa fa-fw fa-search"></i> Groups</a>
          <a href="?q=Vote" class="list-group-item"><i class="fa fa-fw fa-search"></i> Votes</a>
        </div>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/scripts/tableTrLinkScript.html }}
  {{#paginationRendered}}
    {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
</body>
</html>
