<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-heading">
          Removed Items
        </h2>
        {{#paginationRendered}}
        <div class="text-center collapse">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
        <div class="panel panel-default">
          {{> includes/removedItemList.html }}
        </div>
        {{#paginationRendered}}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
      </div>
      <div class="col-sm-4">
        {{> includes/searchBarPanel.html }}
        <h3>Filters</h3>
        <div class="list-group">
          <a href="./removed{{#searchBarValue}}?q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item list-group-item-info"><i class="fa fa-fw fa-times"></i> Clear Filter</a>
          <a href="?byModel=User{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterUser}} active{{/filterUser}}"><i class="fa fa-fw fa-user"></i> User</a>
          <a href="?byModel=Script{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterScript}} active{{/filterScript}}"><i class="fa fa-fw fa-file"></i> Script</a>
          <a href="?byModel=Comment{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterComment}} active{{/filterComment}}"><i class="fa fa-fw fa-comment"></i> Comment</a>
          <a href="?byModel=Discussion{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterDiscussion}} active{{/filterDiscussion}}"><i class="fa fa-fw fa-commenting"></i> Discussion</a>
          <a href="?byModel=Flag{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterFlag}} active{{/filterFlag}}"><i class="fa fa-fw fa-flag"></i> Flag</a>
          <a href="?byModel=Group{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterGroup}} active{{/filterGroup}}"><i class="fa fa-fw fa-tag"></i> Group</a>
          <a href="?byModel=Vote{{#searchBarValue}}&q={{searchBarValue}}{{/searchBarValue}}" class="list-group-item{{#filterVote}} active{{/filterVote}}"><i class="fa fa-fw fa-unsorted"></i> Vote</a>
        </div>

      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/scripts/tableTrLinkScript.html }}
  {{#paginationRendered}}
    {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
</body>
</html>
