<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" href="/css/scriptPage.css">
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            {{> includes/scriptPageHeader.html }}
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="script-meta">
                  {{#script.meta.version}}<p><i class="fa fa-fw fa-tag"></i> <b>Version:</b> <code>{{script.meta.version}}</code> uploaded <time class="script-updated" datetime="{{script.updatedISOFormat}}" title="{{script.updated}}">{{script.updatedHumanized}}</time></p>{{/script.meta.version}}
                  {{#script.meta.description}}<p><i class="fa fa-fw fa-info"></i> <b>Summary:</b> {{script.meta.description}}</p>{{/script.meta.description}}
                  {{#script.meta.homepage}}<p><i class="fa fa-fw fa-home"></i> <b>Homepage:</b> <a href="{{meta.homepage}}">{{script.meta.homepage}}</a></p>{{/script.meta.homepage}}
                  {{#script.meta.copyright}}<p><i class="fa fa-fw fa-legal"></i> <b>Copyright:</b> {{script.meta.copyright}}</p>{{/script.meta.copyright}}
                  {{#script.meta.licence}}<p><i class="fa fa-fw fa-legal"></i> <b>Licence:</b> {{script.meta.licence}}</p>{{/script.meta.licence}}
                  {{#script.meta.collaborator}}<p><i class="fa fa-fw fa-user"></i> <b>Collaborator:</b> {{.}}</p>{{/script.meta.collaborator}}
                  {{#script.fork}}
                  <p><b>Fork History:</b></p>
                  <ul>
                    {{#.}}
                    <li>
                      <i class="fa fa-fw fa-fork"></i> <a href="/script/{{{url}}">{{author}}/{{name}}</a>
                    </li>
                    {{/.}}
                  </ul>
                  {{/script.fork}}
                </div>
              </div>
            </div>
            {{#script.aboutRendered}}
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="user-content">{{{script.aboutRendered}}}</div>
              </div>
            </div>
            {{/script.aboutRendered}}
          </div>
        </div>
      </div>
      <div class="container-fluid col-sm-4">
        {{> includes/scriptSidePanel.html }}
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
