<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" href="https://toopay.github.io/bootstrap-markdown/css/bootstrap-markdown.min.css">
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <form id="start_discussion" action="{{{category.categoryPostDiscussionPageUrl}}}" method="post">
        <div class="container-fluid col-sm-8">
          <div class="row">
            <div class="col-xs-12">
              <div class="topic-title row container-fluid">
                <ol class="breadcrumb pull-left">
                  <li class=""><a href="{{{script.scriptPageUrl}}}">{{script.name}}</a></li>
                  <li class=""><a href="{{{category.categoryPageUrl}}}">{{category.name}}</a></li>
                  <li class="col-xs-12">
                    <input type="text" id="discussion-topic" name="discussion-topic" size="60" class="" placeholder="Topic" required>
                  </li>
                </ol>
              </div>            
              <div class="container-fluid comments">
                <div class="row">
                  <section class="topic-area list-group">
<div class="topic-post list-group-item" id="comment-">
  <article>
    <div class="row">
      <div class="topic-avatar col-xs-1">
        <a href="{{{authedUser.userPageUrl}}}">
          <img src="http://lorempixel.com/45/45?name={{authedUser.name}}" alt="">
        </a>
      </div>
      <div class="topic-body col-xs-11">
        <div class="topic-meta-data container-fluid row">
          <div class="names pull-left">
            <span>
              <a href="{{{authedUser.userPageUrl}}}" class="username">{{authedUser.name}}</a> <span class="label label-default">{{authedUser.roleName}}</span>
            </span>
          </div>
          <div class="post-info pull-right">
            <a href="#comment-" class="post-date">
              <time datetime="" title="">now</time>
            </a>
          </div>
        </div>
        <div class="topic-post-contents container-fluid row">
          <div class="user-data">
            <textarea name="comment-content" data-provide="markdown" data-iconlibrary="fa" class="col-xs-12" placeholder="Type here using Markdown." required></textarea>
          </div>
          <section class="post-menu-area container-fluid row">
            <nav class="post-controls text-right">
              <button class="btn btn-sm btn-info" title="begin composing a reply to this post"type="submit">
                <i class="fa fa-reply"></i> Submit
              </button>
            </nav>
          </section>
        </div>
      </div>
    </div>
  </article>
</div>
                  
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid col-sm-4">

        </div>
      </form>
    </div>
  </div>

  {{> includes/footer.html }}
  <!-- Markdown Editor -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.2.1/js/bootstrap-markdown.js"></script>
</body>
</html>
