<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" href="https://toopay.github.io/bootstrap-markdown/css/bootstrap-markdown.min.css">
  <link rel="stylesheet" href="/css/scriptPage.css">
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        {{#script}}
        {{> includes/scriptPageHeader.html }}
        {{/script}}
        <div class="col-xs-12">
          <div class="topic-title row container-fluid">
            <ol class="breadcrumb pull-left">
              <li class=""><a href="{{{script.scriptPageUrl}}}">{{script.name}}</a></li>
              <li class=""><a href="{{{category.categoryPageUrl}}}">{{category.name}}</a></li>
              <li class="active"><a href="{{{discussion.discussionPageUrl}}}">{{discussion.topic}}</a></li>
            </ol>
            <div class="pull-right">
              <ul >
                
              </ul>
              <a class="btn btn-sm {{^discussion.open}}btn-link{{/discussion.open}}{{#discussion.open}}btn-success{{/discussion.open}}" {{#canOpen}}href="{{{discussion.issueOpenUrl}}}"{{/canOpen}}>Open</a>
              <a class="btn btn-sm {{#discussion.open}}btn-link{{/discussion.open}}{{^discussion.open}}btn-danger{{/discussion.open}}" {{#canClose}}href="{{{discussion.issueCloseUrl}}}"{{/canClose}}>{{#discussion.open}}Close{{/discussion.open}}{{^discussion.open}}Closed{{/discussion.open}}</a>
            </div>
          </div>            
          <div class="container-fluid comments">
            <div class="row">
              <section class="topic-area list-group">
                {{#commentList}}
                {{> includes/comment.html }}
                {{/commentList}}
                <div class="text-center">
                  {{{paginationRendered}}}
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid col-sm-4">
        
      </div>
    </div>
  </div>

  {{> includes/commentForm.html }}

  {{> includes/footer.html }}
  <!-- Markdown Editor -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.2.1/js/bootstrap-markdown.js"></script>
  {{> includes/scripts/commentReplyScript.html }}
</body>
</html>
