<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/redist/npm/bootstrap-markdown/css/bootstrap-markdown.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/scriptPage.css">
  <style>
    #show-reply-form-when-visible {
      -moz-transition: height 1s ease;
      -ms-transition: height 1s ease;
      -o-transition: height 1s ease;
      -webkit-transition: height 1s ease;
      transition: height 1s ease;
    }
  </style>
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        {{> includes/scriptPageHeader.html }}
        <div class="col-xs-12">
          <div class="topic-title row container-fluid">
            <ol class="breadcrumb pull-left">
              <li><a href="{{{script.scriptPageUrl}}}">{{script.name}}</a></li>
              <li><a href="{{{category.categoryPageUrl}}}">{{category.name}}</a></li>
              <li class="active"><a href="{{{discussion.discussionPageUrl}}}">{{discussion.topic}}</a></li>
            </ol>
            <div class="pull-right">
              <ul >

              </ul>
              <a class="btn btn-sm {{^discussion.open}}btn-link{{/discussion.open}}{{#discussion.open}}btn-success{{/discussion.open}}" {{#canOpen}}href="{{{discussion.issueOpenUrl}}}"{{/canOpen}}>Open</a>
              <a class="btn btn-sm {{#discussion.open}}btn-link{{/discussion.open}}{{^discussion.open}}btn-danger{{/discussion.open}}" {{#canClose}}href="{{{discussion.issueCloseUrl}}}"{{/canClose}}>{{#discussion.open}}Close{{/discussion.open}}{{^discussion.open}}Closed{{/discussion.open}}</a>
            </div>
          </div>
          <div class="container-fluid comments">
            <div class="row">
              <section class="topic-area list-group">
                {{#paginationRendered}}
                <div class="text-center collapse">
                  {{{paginationRendered}}}
                </div>
                {{/paginationRendered}}
                {{#commentList}}
                {{> includes/comment.html }}
                {{/commentList}}
                {{#paginationRendered}}
                <div class="text-center">
                  {{{paginationRendered}}}
                </div>
                {{/paginationRendered}}
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid col-sm-4">

      </div>
    </div>
  </div>

  <div id="show-reply-form-when-visible"></div>
  {{> includes/commentForm.html }}
  {{> includes/footer.html }}
  {{#paginationRendered}}
      {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
  {{> includes/scripts/lazyIconScript.html }}
  {{#authedUser}}
  {{> includes/scripts/markdownEditor.html }}
  {{> includes/scripts/commentReplyScript.html }}
  {{/authedUser}}
  {{^authedUser}}
    {{> includes/scripts/commentReplyTooltip.html }}
  {{/authedUser}}
</body>
</html>
