<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/css/scriptPage.css">
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        {{> includes/scriptPageHeader.html }}
        <div class="list-controls row container-fluid">
          <ol class="breadcrumb pull-left">
            <li><a href="{{{script.scriptPageUrl}}}">{{script.name}}</a></li>
            <li class="active"><a href="{{{category.categoryPageUrl}}}">{{category.name}}</a></li>
          </ol>
          <div class="input-group pull-left col-sm-1">
          </div>
          <a class="btn btn-sm btn-success pull-right" href="{{{category.categoryPostDiscussionPageUrl}}}" id="create-topic">
            <i class="fa fa-fw fa-plus"></i> New Issue
          </a>
        </div>
        {{#script.hasSupport}}
        <div class="alert alert-success alert-dismissible small" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{#script.support}}<p><i class="fa fa-fw fa-support"></i> <b>Support:</b> <a href="{{{url}}}"{{#hasNoFollow}} rel="nofollow"{{/hasNoFollow}}>{{text}}</a></p>{{/script.support}}
          The script author requests that you use their preferred primary support method when filing an issue. Please consider using that for regular issues.
        </div>
        {{/script.hasSupport}}
        {{#paginationRendered}}
        <div class="text-center collapse">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
        <div class="panel panel-default">
          {{> includes/discussionList.html }}
        </div>
        {{#paginationRendered}}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
      </div>
      <div class="container-fluid col-sm-4">
        {{> includes/searchBarPanel.html }}
        <div class="panel">
          <div class="panel-body">
            <ul class="nav nav-pills nav-justified">
              <li class="{{^allIssues}}{{#openIssuesOnly}}active{{/openIssuesOnly}}{{/allIssues}}"><a href="{{{category.categoryPageUrl}}}/open">Open</a></li>
              <li class="{{^allIssues}}{{^openIssuesOnly}}active{{/openIssuesOnly}}{{/allIssues}}"><a href="{{{category.categoryPageUrl}}}/closed">Closed</a></li>
              <li class="{{#allIssues}}active{{/allIssues}}"><a href="{{{category.categoryPageUrl}}}/all">All</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/scripts/tableTrLinkScript.html }}
  {{#paginationRendered}}
    {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
  {{> includes/scripts/lazyIconScript.html }}
</body>
</html>
