<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        
        {{> includes/scriptList.html }}
        <div class="text-center">
          {{{pagination}}}
        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="panel">
          <div class="input-group col-xs-12">
            {{> includes/scriptSearchBar.html }}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Popular Groups</div>
          </div>
          <div class="panel-body">
            <ul class="tagcloud">
              {{#groupList}}
                <li><a href="{{{groupPageUrl}}}">{{name}}</a> <span class="badge">{{size}}</span></li>
              {{/groupList}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
