<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            {{> includes/userPageHeader.html }}
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="edit-authentication-box">
                  <h2 class="edit-authentication">Authentication</h2>
                  <p><img src="/images/strat/{{defaultStrat}}16.png"> <strong>{{defaultStrategy}}</strong> is your current default preferred authentication.</p>
                  {{#haveOtherStrategies}}
                  <p>Other verified forms of authentication:</p>
                  {{#usedStrategies}}
                  <strong>{{display}}</strong> - <a href="/auth/{{strat}}">Make default</a><br />
                  {{/usedStrategies}}
                  {{/haveOtherStrategies}}
                  <form id="register" method="post" action="/auth/">
                    <p>Attach another form of authentication:</p>
                    <div class="input-group col-xs-12">
                      <span class="input-group-addon">
                        <i class="fa fa-user fa-fw"></i>
                      </span>
                      <select name="auth" class="form-control">
                        {{#openStrategies}}
                        <option value="{{strat}}">{{display}}</option>
                        {{/openStrategies}}
                      </select>
                      <div style="width: 100%;">
                        <div class="input-group-addon">
                          <p>
                            <ul class="nav nav-pills nav-justified">
                              <li><a href="/about/Terms-of-Service"><i class="fa fa-legal"></i> Terms of Service</a></li>
                              <li><a href="/about/Privacy-Policy"><i class="fa fa-user-secret"></i> Privacy Policy</a></li>
                            </ul>
                          </p>
                          <p>
                            <span class="small pull-left" style="white-space: normal;"><input type="checkbox" name="consent" value="true" required="required"> I have reread, understand, and agree to these binding terms and policies.</span>
                          </p>
                        </div>
                        <div class="input-group-addon">
                          <button class="btn btn-success pull-right" type="submit">Sign in <i class="fa fa-sign-in fa-fw"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="edit-session-box">
                  <h2 class="edit-session">Sessions</h2>
                  <div class="session-area list-group">
                    {{#sessionList}}
                      {{> includes/session.html }}
                    {{/sessionList}}
                    {{^sessionList}}
                    <div class="panel">
                      <div class="panel-body">
                        <em>This user hasn't added any sessions yet.</em>
                      </div>
                    </div>
                    {{/sessionList}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid col-sm-4">
        {{> includes/userSidePanel.html }}
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/scripts/clipboard.html }}
</body>
</html>
