<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-heading">
          Users
        </h2>
        {{> includes/userList.html }}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="panel">
          {{> includes/searchBar.html }}
        </div>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/tableTrLink.html }}
</body>
</html>
