<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group">
          <a href="{{authedUser.userGitHubRepoListPageUrl}}" class="list-group-item">
            <h4 class="list-group-item-heading">Full Repository List</h4>
            <p class="list-group-item-text">Click here to list all GitHub repositories. You can import both userscripts and javascript libraries from this list.</p>
          </a>
        </div>

        <h2>Batch Import UserScripts <div class="small">(From Recently Updated GitHub Repositories)</div></h2>
        <form method="post" action="">
          <ul class="list-group">
          {{#repos}}
            <li class="list-group-item">
              <input type="checkbox" name="{{{repo}}}_all" value="{{{repo}}}" /> <strong><a href="https://github.com/{{{user}}}/{{{repo}}}">{{repo}}</a></strong><br />
              {{#scripts}}
                <input type="checkbox" name="{{{repo}}}[{{{name}}}]" value="true"/> <a href="https://github.com/{{{user}}}/{{{repo}}}/blob/master{{{path}}}">{{name}}</a><br />
              {{/scripts}}
            </li>
          {{/repos}}
          {{^repos}}
            <li class="list-group-item">
              No scripts in recently updated repositories. Try the full repository list.
            </li>
          {{/repos}}
          </ul>
          <button type="submit" class="btn btn-success col-xs-12 {{^repos}}disabled{{/repos}}">Import Scripts</button>
        </form>
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
</body>
</html>
