<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/css/scriptPage.css">
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h2><a href="{{{userGitHubRepoListPageUrl}}}" class="script-author">{{githubUser.login}}</a></h2>
        {{#paginationRendered}}
        <div class="text-center collapse">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
        {{^isOwnRepo}}
        <div class="alert alert-warning small" role="alert">
          <i class="fa fa-exclamation-triangle"></i> <strong>CAUTION</strong>: You are browsing a repository that is not known to be your own. Scripts imported from here may not automatically sync. If you wish to have this feature with your available repositories please {{^authedUser.githubUserId}}visit <a href="/user/preferences">your preferences</a> and add GitHub as an authentication and then {{/authedUser.githubUserId}}import from {{#authedUser.githubUserId}}<a href="/users/{{authedUser.name}}/github/repos">your available repositories</a>{{/authedUser.githubUserId}}{{^authedUser.githubUserId}} your available repositories{{/authedUser.githubUserId}}.
        </div>
        {{/isOwnRepo}}
        <div class="list-group">
          {{#githubRepoList}}
          <a href="{{{userGitHubRepoPageUrl}}}" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="octicon octicon-fw octicon-repo"></i> {{full_name}}</h4>
          </a>
          {{/githubRepoList}}
        </div>
        {{^isOwnRepo}}
        <div class="alert alert-warning small" role="alert">
          <i class="fa fa-exclamation-triangle"></i> <strong>CAUTION</strong>: You are browsing a repository that is not known to be your own. Scripts imported from here may not automatically sync. If you wish to have this feature with your available repositories please {{^authedUser.githubUserId}}visit <a href="/user/preferences">your preferences</a> and add GitHub as an authentication and then {{/authedUser.githubUserId}}import from {{#authedUser.githubUserId}}<a href="/users/{{authedUser.name}}/github/repos">your available repositories</a>{{/authedUser.githubUserId}}{{^authedUser.githubUserId}} your available repositories{{/authedUser.githubUserId}}.
        </div>
        {{/isOwnRepo}}
        {{#paginationRendered}}
        <div class="text-center">
          {{{paginationRendered}}}
        </div>
        {{/paginationRendered}}
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{#paginationRendered}}
    {{> includes/scripts/showTopPagination.html }}
  {{/paginationRendered}}
</body>
</html>
