<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {{> includes/head.html }}
  <link rel="stylesheet" type="text/css" media="all" href="/redist/npm/bootstrap-markdown/css/bootstrap-markdown.min.css">
</head>
<body>
  {{> includes/header.html }}
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            {{> includes/userPageHeader.html }}
            <form action="" method="post">
              <div class="user-content">
                <textarea name="about" data-provide="markdown" data-iconlibrary="fa" rows="28" class="col-xs-12">{{user.about}}</textarea>
              </div>
              <div class="btn-toolbar">
                <a href="/about/Frequently-Asked-Questions"><i class="fa fa-question-circle" title="FAQ"></i></a>
                <a href="https://guides.github.com/features/mastering-markdown/" title="GitHub Flavor Markdown compatible"><i class="octicon octicon-markdown"></i></a>
                <button type="submit" class="btn btn-sm btn-success pull-right" title="Save Profile changes">
                  <i class="fa fa-fw fa-save"></i><span class="hidden-xs"> Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid col-sm-4">
        {{> includes/userSidePanel.html }}
      </div>
    </div>
  </div>
  {{> includes/footer.html }}
  {{> includes/scripts/markdownEditor.html }}
  {{> includes/scripts/clipboard.html }}
</body>
</html>
